.detail-calc{
	max-width: 800px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}
#credit{
	width: 50%;
	float: left;
	margin: 0 0 30px;
	label{
		width: 170px;
		font-family: @font-text;
		font-size: 14px;
		color: @text-second-color;
		position: relative;
		top: 11px;
	}
	select{
		font-size: 14px;
		color: @text-second-color;
	}
	input{
		margin: 0;
		border: 1px solid #cdcdcd;
	}
	button{
		width: 217px;
	}
	.submit{
		margin: 30px 10px 10px 170px;
	}
	.select{
		label{
			top: auto;
		}
		select{
			width: auto;
			display: inline;
			border: 0;
		}
	}
}
.calc-results{
	float: left;
	strong, span{
		font-weight: 700;
		color: @main-color;
	}
	span{
		font-weight: 700;
		color: @second-dark-color;
	}
}

.submit button{
	background: @second-color;
	&:hover{
		background: @second-hover-color;
	};
}
#schedule table{
	font-family: @font-text;
	width: 100%;
	margin-bottom: 30px;
}

#schedule table th{
	font-weight: 700;
	color: #333333;
	background: @main-color;
	color: @light-color;
	text-shadow: none;
}
#schedule table tr{
	&:hover{
		td{
			color: #333333;
		}
	};
}

