.callback-popup, 
.makeRequest{
	h3{
		color: @main-color;
		text-shadow: none;
	}
	.callback-title{
		text-align: center;
	}
	.callback-subtitle{
		color: @text-second-color;
		font-size: 14px;
	}
	.note{
		color: @text-second-color;
		font-size: 12px;
		display: block;
		margin-top: 12px;
	}
	form{
		.clearfix();
		margin: 20px 0 0;
		p{
			margin: 0;
		}
	}
	input[type=text], input[type=tel], select, input[type=email]{
		width: 100%;
	}
	select{
		height: 39px;
		background: #ffffff;
	}
	input[type=submit]{
		margin: 20px auto 0;
		padding: 10px 15px 10px;
	}
}

.callback-popup, 
.makeRequest{
	width: 600px;
	background: #ffffff;
	padding: 50px 100px 40px;
	a.close{
		top: 10px;
		right: 10px;
	}
}

.call-back .modal-box,
.makeRequest.modal-box{
	display: none;
	position: fixed;
	z-index: 1000;
	left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.call-back .modal-box .modal-content,
.makeRequest .modal-box .modal-content{ 
	padding: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-box .modal-content img{
	display: block;
}
.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7) !important;
}
a.close {
	line-height: 30px;
	font-size: 37px;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	opacity: 0.3;
	background: #ffffff;
}