body{
	background-color: @bg-color;
}
.site-content{
	background: url(../img/bg_pattern.png);
	background-size: contain;
}
.row{
	.clearfix();
}
.btn{
	.clearfix();
	width: 100%;
	height: 45px;
	background: @second-color;
	border-radius: 5px;
	border:0;
	font-family: @font-titles;
	font-weight: 500;
	font-size: 20px;
	color: @light-color;
	text-transform: uppercase;
	.text-shadow();
	text-align: center;
	padding: 15px 15px 10px;
	display: block;
	box-shadow: 0px 3px 0 0 @second-dark-color;
	position: relative;
	cursor: pointer;
	.background(0.1s);
	&:hover{
		text-decoration:none;
		color: #ffffff;
		background: @second-hover-color;
		top: 1px;
		box-shadow: 0px 2px 0 0 @second-dark-color;
	};
	&:active{
		top: 3px;
		box-shadow: 0 0 0 0 @second-dark-color;
	};
	&:focus{
		color: #ffffff;
		text-decoration: none;
	};
}
hr{
	border-top: 1px dashed @decor-color;
	margin-top: 35px;
	margin-bottom: 50px;
}
a{
	&:focus{
		color: inherit;
	}
}
.page{
	h1{
		text-align: center;
		margin: 33px 0;
		span{
			position: relative;
			font-family: @font-titles;
			&:before{
				content:'';
				display: block;
				width: 35px;
				height: 1px;
				border-top: 1px dashed @decor-color;
				position: absolute;
				left: -55px;
		    	top: 50%;
			};
			&:after{
				content: '';
				display: block;
				width: 35px;
				height: 1px;
				border-top: 1px dashed @decor-color;
				position: absolute;
				right: -55px;
		    	top: 50%;
			};
		}
	}
}