#contact-page{
	.contact-address{
		margin: 20px 0 30px;
	}
	.address-info, .address-info a{
		font-size: 16px;
		line-height: 1.4;
		color: #333333;
		text-decoration: none;
		&:hover{
			text-decoration:none;
		};
	}
	.contact-title{
		.clearfix(); 
		margin: 0 0 25px;
	}
	h4{
		color: @text-second-color;
		line-height: 20px;
		margin: 10px 0 0;
	}
	i{
		font-family: @font-text;
		font-size: 11px;
		font-style: italic;;
		color: #878787;
		line-height: 1.2;
	}
	.map{
		padding: 10px 0 0;
	}
	h5{
		color: @text-second-color;
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}
	.contact-note{
		text-align: center;
		margin: 40px 0 50px;
	}
	.contact-note-message{
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1.6;
		color: @text-second-color;
	}
}
