/* --- footer --- */
footer{
	background: url(../../assets/img/bg_footer.png) no-repeat;
	background-size: cover;
	background-position-y: top;
	padding: 30px 0 20px;
	color: @light-color;
	.foot.widget.widget_nav_menu{
		h3{
			font-family: @font-text;
			font-size: 18px;
			color: @light-color;
			margin: 0 0 25px;
			text-align: left;
		}
		ul{
			margin-left: 20px;
		}
		a{
			font-family: @font-text;
			color: @light-color;
			position: relative;
			text-decoration: underline;
			line-height: 1.6;
			&:before{
				content:'';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: @light-color;
				position: absolute;
				top: 7px;
				left: -19px;
			};
			&:hover{
				&:before{
					background: @light-color;
				};
			};
		}
	}
	#true-foot-2{
		li{
			margin: 0 0 15px 0;
		}
	}
	.number, .address-title{
		color: @main-hover-color;
	}
	.subfooter{
		margin: 0 0 0 30px;
		display: table;
		.copy{
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 10px;
		}
	}
}
/* --- footer END --- */