form{
	input[type=text],input[type=tel],input[type=email], select{
		width: 217px;
		display: block;
		margin: 0 auto;
		padding: 8px;
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,0.6);
		margin-bottom: 10px;
		font-family: @font-text;
	}
	input[type=submit]{
		width: 180px;
		display: block;
		margin: 20px auto;
		padding: 10px 15px;
	}
}

.form-home-calc{
	.form-field{
		display: inline-block;
		width: 49%;
		float: left;
		position: relative;
		input{
			width: 100%;
		}
	}
	.last-field{
		margin-left: 2%;
	}
	label{
		position: absolute;
		z-index: 100;
		width: 100%;
		padding: 13px 8px 10px;
		font-size: 14px;
	}
}
.tablet-form{
	.wpcf7-form{
		p{
			position: relative;
			margin: 0;
			padding: 0;
		}
		label{
			position: absolute;
			width: 217px;
			padding: 8px;
			top: 1px;
			left: 0px;
			z-index: 100;
		}
		input[type=submit]{
			padding: 10px 15px;
		}
		input[type=text].wpcf7-not-valid, input[type=tel].wpcf7-not-valid{
			border: 1px solid rgba(150, 0, 0, 0.6);
			box-shadow: 0 0 1px 1px #fcbd0e inset;
		}
		img.ajax-loader{
			display: none !important;
			visibility: hidden !important;
		}
		.wpcf7-not-valid-tip{
			display: none;
		}
		div.wpcf7-validation-errors{
			display: none !important;
		}
	}
}
.makeRequest, .makeRequestMobile{
	p{
		position: relative;
	}
	label{
		position: absolute;
		z-index: 100;
		width: 100%;
		padding: 8px;
	}
}
div.wpcf7 img.ajax-loader{
	display: none !important;
	visibility: hidden !important;
}
div.wpcf7-validation-errors, span.wpcf7-not-valid-tip{
	display: none !important;
}
input[type=text].wpcf7-not-valid, 
input[type=email].wpcf7-not-valid, 
textarea.wpcf7-not-valid,
input[type=tel].wpcf7-not-valid{
		border: 1px solid rgba(150, 0, 0, 0.6);
		box-shadow: 0 0 1px 1px #fcbd0e inset;
	}
#contact-page{
	p{
		position: relative;
		padding: 0 !important;
	}
	input[type=text],input[type=email], textarea{
		width: 100%;
		border: 1px solid #cdcdcd;
		border-radius: 0px;
	}
	textarea{
		padding: 8px;
		width: 100% !important;
		height: 100px;
	}
	label{
		color: #787878;
		position: absolute;
		width: 100%;
		padding: 8px;
		z-index: 100;
		top: 1px;
	}
	input[type=submit]{
		width: 220px;
		padding: 10px 15px;
	}
	
	div.wpcf7-validation-errors{
		display: none !important;
	}
	.wpcf7-not-valid-tip{
		display: none;
	}
	.sent{
		input,label,textarea{
			display: none !important;
		}
	}
}