#get-credit{
	padding-bottom: 30px;
	.popup-button{
		text-align: center;
	}
	.popup-link{
		font-family: @font-titles;
		font-size: 28px;
		color: @main-color;
		text-decoration: underline;
		text-transform: uppercase;
		&:hover{
			color: @main-hover-color;
		};
	}
}