/* --- header ---*/
.top-decorated{
	.container{
		padding: 0;
	}
	.col-md-4{
		width: 33.33%;
		float: left;
		height: 7px;
		&:nth-of-type(1){
			background: #ffca00;
		};
		&:nth-of-type(2){
			background: #85c547;
		};
		&:nth-of-type(3){
			background: #528d25;
		};
	}
}
.block-header{
	background: url(../img/header_bg.png) no-repeat center top;
	padding: 23px 0 0;
}
.home-url{
	text-decoration: none;
	&:hover{
		text-decoration:none;
	};
}
.logo{
	padding: 15px 0 0 13px;
	.logo-img{
		display: block;
		float: left;
	}
	.logo-text{
		margin: 15px 0 0;
	}
}
.info-block{
	.clearfix();
	.tel-numb{
		margin: 0 0 0 5px;
		float: left;
	}
	.number{
		.color(0.3s);
	}
	img{
		display: block;
		float: left;
		margin: 10px 0;
	}
	a{
		display: block;
	}
}
.address{
	padding: 0 0 0 20px;
	float: left;
	width: 150px;
	span{
		display: block;
	}
}
.call-back{
	.clearfix();
	padding: 5px 0 10px 35px;
	.btn-call-back{
		width: 235px;
	}
}
.menu-row{
	margin: 0;
}
.nav-bar{
	background: @second-color;
	display: block;
	margin:25px 0 13px;
	position: relative;
	.clearfix();
	.decorated-line{
		width: 100%;
		height: 3px;
		background: #f0a50a;
		border-top: 1px solid #ffd156;
		&:after{
			content:'';
			width: 96.3%;
		    height: 13px;
		    background: rgba(0, 0, 0, 0.03);
		    position: absolute;
		    top: 53px;
		    left: 21px;
		};
	};
	.decorated-arrow{
		position: relative;
		&:before{
			content:'';
			display: block;
			position: absolute;
			left: 0;
			top: 50px;
			width: 0;
			height: 0;
			border: 8px solid transparent;
		    border-top: 5px solid #d78319;
		    border-right: 13px solid #d78319;
		};
		&:after{
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50px;
			width: 0;
			height: 0;
			border: 8px solid transparent;
    		border-top: 5px solid #d78319;
    		border-left: 13px solid #d78319;
		};
	}
}
.menu-bar{
	width: 71.5%;
	float: left;
	ul{
		padding: 0 10px;
		li{
			display: inline-block;
			position: relative;
			:after{
				content:'';
				display: block;
				width: 1px;
				height: 20px;
				background: rgba(255,255,255,0.5);
				position: absolute;
				top: 13px;
				right: 0;
			};
			&:last-child{
				:after{
					display:none;
				};
			};
			a{
				font-family: @font-titles;
				font-weight: 500;
				font-size: 21px;
				line-height: 2.4;
				color: @light-color;
				text-transform: uppercase;
				.text-shadow();
				padding: 0 30px;
			}
		}
		.current-menu-item,
		.current-menu-parent{
			a{
				text-decoration: underline;
			}
			.sub-menu{
				li a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					};
				}
				.current-menu-item a{
					text-decoration: underline;
				}
			}
		}
	}
	.menu-item-has-children{
		position: relative;
		&:hover{
			.sub-menu{
				display: block;
				width: 250px;
				position: absolute;
				top: 50px;
				left: -10px;
				background: @second-color;
				z-index: 100;
				padding: 0;
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background: #f0a50a;
					border-top: 1px solid #ffd156;
				};
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background: #ffd156;
					border-top: 2px solid #f0a50a;
					position: relative;
					top: 0;
				};
				li{
					margin: 10px 0 0;
					padding: 0 0 5px 8px;
					width: 100%;
					position: relative;
					border-bottom: 1px solid #ffd156;
					&:after{
						display: none;
					};
					&:last-child{
						border-bottom: 0;
					};
					a{
						line-height: 1.6;
						font-size: 18px;
						display: block;
						&:after{
							display:none;
						};
					}
				}
			}
		};
	}
	.sub-menu{
		display: none;
	}
}
.search-block{
	width: 285px;
	float: left;
	position: relative;
	&:after{
		content:'';
		display: block;
		width: 18px;
		height: 18px;
		background: url(../../assets/img/icon-search.png) no-repeat;
		position: absolute;
		top: 14px;
		right: 10px;

	};
	input[type=text]{
		background: @second-dark-color;
		border-radius: 5px;
		border: 1px solid #ffd156;
		box-shadow: 0 0 5px 0px #c86714 inset;
		color: @light-color;	
		font-family: @font-text;
		font-size: 14px;
		width: 280px;
	    margin: 6px 0 0 3px;
	    height: 35px;
	    padding: 12px;
	    letter-spacing: 0.3px;
	}
	label{
		color: @light-color;	
		font-family: @font-text;
		font-size: 14px;
		display: block;
		position: absolute;
		width: 278px;
	    padding: 10px 12px 9px;
	    top: 7px;
	    left: 4px;
	}
	input[type=submit]{
		display: none;
	}
}

		.mobile-menu{
			position: relative;
			width: 100%;
			float: right;
			margin: 8px 0;
			.icon-menu-wrap{
				width: 46px;
				height: 35px;
				margin: 0 10px 0;
				background: transparent;
				border: 1px solid #ffd156;
				border-radius: 3px;
				cursor: pointer;
				float: right;
				.hamburger-icon{
					width: 30px;
					height: 4px;
					background: @text-second-color;
					border-radius: 4px;
					display: block;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&:before, &:after{
						content:"";
						display: block;
						width: 30px;
						height: 4px;
						background: @text-second-color;
						border-radius: 4px;
						position: absolute;
					};
					&:before{
						margin-top: -6px;
					};
					&:after{
						margin-top: 6px;
					};
				}
			}
			.icon-menu-wrap.open{
				background: #ffffff;
			}
			.menu-wrap{
				width: 100%;
				position: relative;
				border-radius: 3px;
				background: @second-active-color;
				top: 41px;
				z-index: 700;
				text-align: right;
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background: #ffd156;
					border-top: 2px solid #f0a50a;
				};
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background: #f0a50a;
					border-top: 1px solid #ffd156;
				};
				.mobile-menu-item{
					padding: 10px;
					font-size: 12px;
					border-bottom: 1px solid #c5c5c5;
					&:last-child{
						border-bottom: 0;
					};
					&:hover, &:active{
						background: #f7f7f7;
					};
				}
				ul{
					padding: 0 68px 0 0;
					.sub-menu{
						padding: 0 28px 0 0;
					}
				}
				a{
					color: @light-color;
					font-size: 16px;
					font-family: @font-titles;
					.text-shadow();
					text-transform: uppercase;
					display: block;
					width: 100%;
					position: relative;
					&:after{
						content:'';
						display: block;
						width: 5px;
						height: 5px;
						background: @light-color;
						border-radius: 50%;
						position: absolute;
						top: 8px;
						right: -12px;
					};
				}
				.current-menu-item a{
					text-decoration: underline;
				}
			}
		
		}
.hide,
.mobile-view{
	display: none;
}
/* --- header END --- */