.calc{
    background: url(../../assets/img/calc_bg.png) no-repeat;
    margin: 35px 0 0 0;
    padding: 20px 68px 40px 43px;
    width: 541px;
    height: 425px;
}
.tabs{
    display:inline-block;
    .tabs-content{
        padding-top:15px;
    }
    ul{
        &:after{
            content:"";
            display:block;
            clear:both;
            height:5px;
        };
        li{
            padding: 8px 12px 3px;
            margin:0px;
            cursor:pointer;
            display:block;
            float:left;
            margin: 0 59px 0 0;
            border: 2px solid transparent;
            position: relative;
            &:last-child{
                margin: 0;
            };
            span{
                font-family: @font-titles;
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 1;
                color: @light-color;
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    border-top: 1px dashed @light-color;
                    position: absolute;
                    top: 22px;
                };
            }
        }
        li.active, li.active:hover{
            color:#fff;
            border: 2px solid @light-color;
            border-radius: 5px;
            padding: 8px 12px 3px;
            line-height: 1;
            span:after{
                display: none;
            };
        }
    }
}
.tooltips{
    display: block;
    position: absolute;
    top: 8px;
    right: -30px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: rgba(60, 94, 27, 0.8);
    color: @light-color;
    font-size: 20px;
    font-family: @font-titles;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    &:hover{
        text-decoration: none;
        color: @light-color;
        box-shadow: 0px 0px 1px 1px @main-color;
    };
}

.tooltips + .tooltip > .tooltip-inner {
    width: 250px;
    padding: 10px;
}
.range-slider {
    position: relative;
    height: 80px;
}
.extra-controls {
    position: relative;
    border-top: 0;
    padding: 0;
    text-align: center;
    position: relative;
    &:before,&:after{
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        border-top: 1px dashed @light-color;
        position: absolute;
        top: 14px;
    };
    &:before{
        left: 0;
    };
    &:after{
        right: 0;
    };
}

.range-slider-year{
    margin: 10px 0 0;
}
.js-irs-0,
.js-irs-1,
.js-irs-2,
.js-irs-3{
    margin: -17px 0 0 0;
}
.irs-line-right{
    background-position: 100% 0;
}
.irs-slider{
    width: 30px;
    height: 30px;
    top: 17px;
    background-position: 0 -116px;
}
.irs-slider.state_hover, .irs-slider:hover{
    background-position: 0 -116px;
}
.irs-line-left{
    width: 3.6%;
}
.irs-line-mid{
    left: 3.6%;
    width: 86.5%;
}
.irs-single{
    display: block;
    right: 0 !important;
    left: auto !important;
    top: -7px;
}
.irs-with-grid .irs-grid{
    display: none;
}
.irs-bar-edge{
    border-radius: 10px;
}
.irs-line{
    border-radius: 5px;
}
.irs-min, .irs-max{
    color: @main-dark-color;
    background: transparent;
    font-size: 16px;
    top: 42px;
    font-weight: 700;
    visibility: visible !important; 
}
.irs-from, .irs-to, .irs-single{
    background: transparent;
    font-size: 18px;
    &:after{
        border-top-color: transparent;
    };
}
.label-home-calc{
    color: @light-color;
    font-size: 18px;

}
.result-title{
    color: @main-dark-color;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    text-align: left;
}
.js-result-mfo,
.js-result-bank{
    display: inline-block;
    color: @light-color;
    font-size: 33px;
    line-height: 28px;
    font-weight: 700;
}