


/* --- sections --- */
#functional-section{
	padding: 30px 0 20px;
	background: url(../../assets/img/woman.png) no-repeat center -30px;
}
.calc-title{
	margin-left: 60px;
	width: 395px;
	position: relative;
	text-align: center;
	h1{
		margin: 0;
	}
	&:before{
		content:'';
		display: block;
		width: 35px;
		height: 1px;
		border-top: 1px dashed @decor-color;
		position: absolute;
		left: -45px;
    	bottom: 22px;
	};
	&:after{
		content: '';
		display: block;
		width: 35px;
		height: 1px;
		border-top: 1px dashed @decor-color;
		position: absolute;
		right: -45px;
    	bottom: 22px;
	};
}
.why-us-item{
	.clearfix();
	margin: 25px 0 15px;
	img{
		display: block;
		float: left;
		margin: 5px 0 0;
	}
	.why-us-description{
		float: left;
		width: 80%;
		margin: 0 0 0 5px;
		span{
			line-height: 1.6;
			color: @text-second-color;
		}
	}
}

#process{
	background: url(../../assets/img/bg-yellow.png) no-repeat;
	background-size: cover;
	background-position-y: bottom;
	padding: 30px 0 20px;
}
.process-item{
	margin: 10px 10px 0;
	text-align: center;
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 24px;
		height: 36px;
		background: url(../../assets/img/arrow.png) no-repeat center center;
		background-size: contain;
		position: absolute;
		right: -30px;
    	top: 65px;
	};
	span{
		display: block;
		line-height: 1.4;
    	margin: 5px;
	}
}
.col-md-2{
	&:last-child{
		.process-item{
			&:after{
				display:none;
			};
		}
	};
}

#benefits{
	padding: 30px 0 20px;
	position: relative;
	h4{
		color: @text-second-color;
	}
	.benefits-woman{
		position: absolute;
		top: 31px;
		right: 37px;
	}
	.big-link{
		font-family: @font-titles;
		font-size: 44px;
		font-weight: 500;
		line-height: 1;
		text-decoration: underline;
		text-transform: uppercase;
		color: @main-color;
		width: 120px;
		position: absolute;
		top: 85px;
		left: 90px;
		z-index: 100;
	}
}
.your-benefit-item{
	.clearfix();
	padding: 8px 0 15px;
	img{
		display: block;
		float: left;
	}
	.benefit-description{
		width: 80%;
		float: left;
		font-family: @font-text;
		font-size: 16px;
		line-height: 1.4;
		color: @text-second-color;
		margin: 0 0 0 15px;
		span{
			color: @main-color;
		}
	}
}

#package{
	padding: 30px 0 20px;
	background: url(../../assets/img/bg-green.png) no-repeat;
	background-size: cover;
	background-position-y: bottom; 
}
.min-package{
	.clearfix();
	margin: 35px 0 25px;
	li{
		img{
			display: block;
			float: left;
		}
		small{
			display: block;
			float: left;
			width: 48%;
			font-size: 14px;
			font-family: @font-text;
			line-height: 1.3;
			margin: 5px 0 0 20px;
			span{
				color: @light-color;
				font-weight: bold;
				.text-shadow();
			}
		}
	}
}

#useful{
	padding: 25px 0 20px;
	h4{
		color: @text-second-color;
		width: 220px;
		display: inline-block;
	}
	.all-testim{
		float: right;
		display: inline-block;
		font-size: 16px;
		text-decoration: underline;
		margin-top: 8px;
		line-height: 1;
	}
	a{
		font-size: 16px;
	}
}
.testimonial-item{
	padding: 0 36px 0 30px;
	position: relative;
	&:after{
		content:'';
		display: block;
		width: 1px;
		height: 100%;
		border-right: 1px dashed @decor-color;
		position: absolute;
		right: -8px;
		top: 0;
	};
	&:last-child{
		&:after{
			right: -32px;
		};
	};
	img{
		display: block;
		float: left;
		margin: 0 10px 0 0;
	}
	span{
		line-height: 1.6;
		font-size: 15px;
		color: @text-second-color;
	}
	.testimonial-meta{
		margin: 15px 0 0;
	}
	.testimonial-name{
		color: @main-color;
	}
}
.info{
	li{
		margin: 10px 40px 25px;
		a{
			font-size: 16px;
			text-decoration: underline;
			line-height: 1.4
		}
	}
}

#special-сonditions	{
	padding: 40px 0 45px;
	background: url(../../assets/img/bg_yellow2.png) no-repeat;
	background-size: cover;
	background-position-y: bottom; 
	position: relative;
}
.conditions{
	.clearfix();
	margin: 0 0 0 40px;
	position: relative;
}
.сond-text{
	width: 270px;
	float: left;
	font-family: @font-text;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	padding: 0 0 0 30px;
	margin-top: 15px;
	&:before{
		content:'';
		display: block;
		width: 3px;
		height: 100%;
		background: @light-color;
		position: absolute;
		left: 4px;
		top: 1px;
	};
}
.count-block{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
}
.countdown{
	background: rgba(255, 255, 255, 0.4);
	padding: 5px 10px 15px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}
.flip-clock-wrapper{
	height: 55px;
    width: 236px;
    margin: 0px !important;
}
.flip-clock-wrapper ul{
	width: 35px;
	height: 45px;
	border-radius: 2px;
	font-weight: normal;
	margin: 5px 1px;
}
.flip-clock-wrapper ul li a div,
.flip-clock-wrapper ul li a div div.inn{
	font-size: 40px;
}
.flip-clock-wrapper ul li{
	line-height: 45px;
}
.flip-clock-dot{
	width: 3px;
	height: 3px;
	background: @light-color;
	left: 2px;
}
.flip-clock-dot.top{
	top: 20px;
}
.flip-clock-dot.bottom{
	bottom: 20px;
}
.flip-clock-divider{
	width: 7px;
	height: 55px;
	position: relative;
	.flip-clock-label{
		top: auto;
		bottom: -13px;
		right: -50px;
		z-index: 100;
		display: block;
		position: absolute;
	}
}
.flip-clock-label{
	font-size: 0;
	color: transparent;
}
.flip-clock-divider.days{
	.flip-clock-label{
		&:after{
			content:'Дней';
			display: block;
			font-family: @font-text;
			font-size: 11px;
			color: @text-second-color;
		};
	}
}
.flip-clock-divider.hours{
	.flip-clock-label{
		&:after{
			content:'Часов';
			display: block;
			font-family: @font-text;
			font-size: 11px;
			color: @text-second-color;
		};
	}
}
.flip-clock-divider.minutes{
	.flip-clock-label{
		right: -51px;
		&:after{
			content:'Минут';
			display: block;
			font-family: @font-text;
			font-size: 11px;
			color: @text-second-color;
		};
	}
}
.tablet-form{
	background: url(../../assets/img/tablet_bg.png) no-repeat;
	position: absolute;
	padding: 15px 79px 40px 88px;
	top: -35px;
    left: -6px;
}


#get-loan{
	padding: 30px 0 20px;
	.loan{
		.clearfix();
		border-bottom: 1px dashed #cfc4b5;
	}
	h2{
		color: @main-color;
		text-align: center;
		text-shadow: none;
	}
	ul{
		margin: 30px 0;
	}
	li{
		margin: 0 0 5px 42px;
		a{
			color: @main-dark-color;
		}
	}
}
#seo-text{
	overflow-y: hidden;
}
.seo-text{
	.clearfix();
	margin: 30px;
	p{
		padding: 0 !important;
	}
}
.our-blog-block{
	.clearfix();
	position: relative;
}
.our-blog{
	font-family: @font-light;
	font-weight: 300;
	font-size: 22px;
	color: @light-color;
	text-decoration: underline;
	width: 70px;
	height: 30px;
	display: block;
	position: absolute;
	top: 163px;
	z-index: 100;
	left: 7px;
	-moz-transform: rotate(-32deg); /* Для Firefox */
    -ms-transform: rotate(-32deg); /* Для IE */
    -webkit-transform: rotate(-32deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-32deg); /* Для Opera */
    transform: rotate(-32deg);
    &:hover{
    	color: @light-color;
    };
}
.woman-blog{
	position: absolute;
	top: 38px;
	right: -7px;
}
/* --- sections END --- */







