@main-color: #528d25;
@main-dark-color: #3c5e1b;
@main-hover-color: #85c547;

@second-color: #ffba00;
@second-dark-color: #db7616;
@second-hover-color: #ffaa00;
@second-active-color: #fab400;

@light-color: #ffffff;
@decor-color: #cfc4b5;

@text-second-color: #796040;

@bg-color: #fffdf6;

@font-titles: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
@font-text: 'PT Sans', Arial, Sans-serif;
@font-light: 'MyriadPro-LightCond', Arial, Sans-serif;


.clearfix(){
	&:before,
	&:after{
		content:'';
		display:table;
		clear:both;
	}
}
.box(){
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ease(@sec){
	-webkit-transition: all @sec ease;
	-moz-transition: all @sec ease;
	transition: all @sec ease;
}

.ease-in-out(@sec){
	-webkit-transition: all @sec ease-in-out;
	-moz-transition: all @sec ease-in-out;
	transition: all @sec ease-in-out;
}
.background(@sec){
	-webkit-transition: background @sec ease-in-out;
	-moz-transition: background @sec ease-in-out;
	transition: background @sec ease-in-out;
}
.color(@sec){
	-webkit-transition: color @sec ease-in-out;
	-moz-transition: color @sec ease-in-out;
	transition: color @sec ease-in-out;
}

.text-shadow(){
	text-shadow: 1px 0 rgba(0,0,0,0.27);
}