.single-post #get-loan .loan{
	border-bottom: 0;
}
.single-post, .page, .category{
	.post, .type-page, #archive-posts{
	.clearfix();
	margin: 25px 0 20px;
		h1, h2, h3, h4, h5, h6{
			text-align: center;
			text-shadow: none;
			margin: 7px 0 33px;
		}
		h1 span, h2 span, h3 span{
			font-family: @font-titles;
		}
		h2{
			font-size: 25px;
			color: @text-second-color;
			margin: 0;
		}
		h3{
			font-size: 26px;
			text-transform: uppercase;
			color: @main-color;
		}
		p, ul, ol{
			padding: 0 85px;
		}
		ul{
			.clearfix();
			margin-bottom: 10px;
		}
		li{	
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;
			&:before{
				content:'';
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: @main-color;
				position: absolute;
				left: 0;
				top: 8px;
			};
		}
	}
	.entry-header{
	padding: 0 140px;
	margin-bottom: 33px;
	position: relative;
	.entry-title span{
		font-family: @font-titles;
		position: relative;
		display: block;
		&:before{
			content:'';
			display: block;
			width: 35px;
			height: 1px;
			border-top: 1px dashed @decor-color;
			position: absolute;
			left: -55px;
	    	top: 50%;
		};
		&:after{
			content: '';
			display: block;
			width: 35px;
			height: 1px;
			border-top: 1px dashed @decor-color;
			position: absolute;
			right: -55px;
	    	top: 50%;
		};
	}
	h1.entry-title{
		text-align: center;	
	}
}	
}
.page p{
	padding: 0 85px;
}

.archive{
	h2, h2 a{
		font-size: 25px;
		color: @main-color;
		margin: 34px 0;
	}
	.post{
		border-bottom: 1px dashed @decor-color;
		padding: 15px 0 25px;
	}
}
.nav-links{
	text-align: center;
	font-family: @font-text;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.7px;
}
.nav-previous, .nav-next{
	display: inline-block;
	padding:0 10px;
}
blockquote{
	.clearfix();
	padding: 40px 0;
	border-bottom: 1px dashed @decor-color;
	p small{
		    font-style: italic;
		    text-align: right;
		    display: block;
		    font-size: 16px;
		    text-transform: uppercase;
		    font-weight: 700;
	}
	&:last-child{
		border-bottom: 0;
		padding: 40px 0 10px;
	};
}
.screen-reader-text{
	display: none;
}