@media only screen and (max-width: 1170px){
	.number{
		font-size: 18px;
		line-height: 1.4;
	}
	.slogan-first{
		font-size: 28px;
	}
	.slogan-second{
		font-size: 40px;
	}
	.slogan{
		margin: 10px 30px;
	}
	.menu-row{
		margin-left: -15px;
    	margin-right: -15px;
	}
	.search-block{
		width: 26.5%;
	}
	.search-block input[type=text]{
		width: 100%;
	}
	.menu-bar ul li a{
		padding: 0 9px;
	}
	.menu-bar ul li{
		padding: 0 1%;
	}
	#functional-section{
		background: none;
	}
	#functional-section .col-md-8{
		width: 60%;
	}
	#functional-section .col-md-4{
		width: 40%;
	}
	#benefits{
		overflow-y: hidden;
	}
	#benefits .col-md-5,
	#benefits .col-md-7{
		width: 50%;
	}
	#benefits .benefits-woman{
		top: 10vw;
    	right: 10%;
	}
	#benefits .big-link{
		top: 12vw;
    	left: 10vw;
	}
	#get-loan li{
		margin: 0 0 5px 25px;
	}
	#package .min-package{
		margin: 35px auto 0;
    	width: 65%;
	}
	#package .col-md-3{
		width: 50%;
		height: 200px;
	}
	.tablet-form{
		left: -37px;
		padding: 15px 51px 40px 88px;
	}
	.сond-text{
		font-size: 14px;
	}
	.count-block{
		bottom: -27px;
    	right: -45px;
	}
	#seo-text .col-md-8{
		width: 60%;
	}
	#seo-text .col-md-4{
		width: 40%;
	}
	#seo-text .seo-text{
		margin: 0 30px;
	}
	.woman-blog{
		top: 10vw;
	}
	footer .second-style li{
		margin: 0 0 7px 0;
	}
	footer .subfooter{
		margin: 5px 0 0 0px;
	}
}
@media only screen and (max-width: 959px){
	.block-header .col-md-4{
		width: 50%;
		&:nth-of-type(2){
			display: none;
		};
	}
	.menu-bar{
		width: 68.5%;
	}
	.menu-bar ul{
		padding: 0;
	}
	.menu-bar ul li a{
		font-size: 16px;
		line-height: 3.15;
	}
	.search-block{
		width: 30%;
	}
	.search-block label{
		padding: 10px 8px 9px;
	}
	.search-block:after{
		display: none;
	}
	#functional-section .col-md-8,
	#functional-section .col-md-4{
		width: 100%;
	}
	.calc-title{
		margin: 0 auto;
	}
	.calc{
		margin: 35px auto;
		padding: 20px 43px 13px 43px;
	    width: 516px;
	    height: 405px;
	}
	#functional-section h4{
		text-align: center;
	}
	.why-us-item{
		margin: 25px auto 15px;
		width: 510px;
	}
	#process .col-md-1{
		display: none;
	}
	#process .col-md-2{
		width: 20%;
	}
	.process-item:after{
		top: 65px;
	}
	.process-item span{
		font-size: 14px;
	}
	#benefits .col-md-5{
		display: none;
	}
	#benefits .col-md-7{
		width: 100%;
	}
	.your-benefit h4{
		text-align: center;
	}
	.your-benefit-item{
		width: 80%;
		margin: 0 auto;
	}
	.your-benefit-item .benefit-description{
		width: 88%;
	}
	#package .min-package{
		width: 100%;
	}
	#useful .col-md-8,
	#useful .col-md-4{
		width: 100%;
	}
	#useful .col-md-4{
		margin: 30px 0 0;
		text-align: center;
	}
	#useful .info{
		text-align: left;
		width: 68%;
		margin: 0 auto;
	}
	#special-сonditions{
		padding: 40px 0 70px;
	}
	#special-сonditions .col-md-7,
	#special-сonditions .col-md-4{
		width: 50%;
	}
	.conditions{
		/*margin: 0;*/
	}
	.conditions h2{
		font-size: 28px;
	}
	.сond-text{
		font-size: 16px;
	}
	.count-block{
		display: none;
	}
	.tablet-form{
		left: 0;
	}
	#seo-text .col-md-8{
		width: 100%;
	}
	#seo-text .col-md-4{
		display: none;
	}
	footer .col-md-1{
		width: 10%;
	}
	footer .col-md-3{
		width: 45%;
	}
	footer .col-md-4{
		width: 45%;
		&:last-child{
			width: 100%;

		};
	}
	footer .call-block{
		.clearfix();
	}
	footer .info-block,
	footer .call-back{
		.clearfix();
		width: 45%;
		float: left;
		margin-top: 30px;
	}
	footer .info-block{
		margin-left: 10%;
	}
	footer .subfooter{
		.clearfix();
		width: 290px;
		margin: 20px auto 0;
	}
	.testimonial-item:last-child:after{
		display: none;
	}
	.calc-results{
		float: none;
		width: 310px;
		margin: 0 auto;
	}
	#schedule{
		overflow: scroll;
	}
	#credit{
		width: 310px;
		margin: 0 auto;
		float: none;
		label{
			width: 113px;
			font-size: 12px;
		}
		input[type=text], input[type=tel], input[type=email], select{
			width: 190px;
		}
		.submit,
		button{
			margin: 5px auto;
		}
	}
	#table-scroll{
		overflow: scroll;
	}
}
@media only screen and (max-width: 768px){
	.mobile-view{
		display: block;
	}
	.menu-bar{
		display: none;
	}
	.search-block{
		width: 278px;
		position: absolute;
		margin-left: 10px;
		&:after{
			display: block;
		};
	}
	.process-item{
		margin-top: 20px;
	}
	.process-item span{
		font-size: 12px;
	}
	.process-item:after{
		top: 60px;
		right: -40px;
	}
	.your-benefit-item{
		width: 90%;
	}
	.your-benefit-item .benefit-description{
		width: 85%;
	}
	.conditions{
		margin: 0 0 10px;
	}
	.tablet-form{
		left: -40px;
	}
	footer .col-md-1{
		display: none;
	}
	footer .col-md-3{
		width: 52%;
	}
	footer .info-block, 
	footer .call-back{
		margin: 20px 0 0;
		width: 50%;
		padding-top: 0;
	}
	.btn.mobile-view.btn-mobile-view{
		display: none;
	}
	.mobile-view-our-blog{
		display: block;
	    width: 280px;
	    margin: 20px auto 40px;
	}
}
@media only screen and (max-width: 639px){
	.block-header .col-md-4{
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		float: none;
	}
	.block-header{
		background-position: center 68px;
		padding: 17px 0 0;
	}
	.logo{
		padding: 1px 0 14px; 
	}
	header .call-back{
		padding: 5px 0 10px;
		margin: 10px auto 0;
		width: 235px;
	}
	.nav-bar .decorated-line:after{
		display: none;
	}
	.search-block{
		margin-top: 2px;
		width: 240px;
		&:after{
			display: none;
		};
	}
	.search-block label{
		width: 100%;
	}
	.calc-title{
		width: 100%;
		text-align: center;
	}
	.calc-title h1{
		font-size: 27px;
	}
	.calc-title:before,
	.calc-title:after{
		display: none;
	}
	.h1-subtitle{
		font-size: 10px;
	}
	.calc{
		display: none;
	}
	.why-us-item{
		width: 100%;
	}
	#process .col-md-2{
		width: 100%;
	}
	.process-item:after{
		display: none;
	}
	h3, h3 span{
		font-size: 28px;
	}
	.your-benefit-item .benefit-description{
		width: 73%;
	}
	#package .col-md-3{
		width: 100%;
	}
	#useful .col-md-6{
		width: 100%;
	}
	#useful h4{
		width: 190px;
	}
	#useful .col-md-4{
		text-align: left;
	}
	#useful .info{
		width: 100%;
	}
	.testimonial-item:after{
		display: none;
	}
	#special-сonditions{
		padding: 40px 0;
	}
	#special-сonditions .col-md-7, 
	#special-сonditions .col-md-4{
		width: 100%;
	}
	.tablet-form{
		display: none;
	}
	#get-loan .col-md-3,
	#get-loan .col-md-2{
		width: 100%;
	}
	#get-loan ul{
		margin: 0;
	}
	#seo-text .seo-text{
		margin: 0;
	}
	footer{
		padding: 0;
	}
	footer .col-md-3,
	footer .col-md-4{
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		padding-top: 30px;
		float: none;
	}
	footer .col-md-4:last-child{
		padding-top: 10px;
	}
	footer .info-block, 
	footer .call-back{
		margin: 0 0 20px;
		width: 100%;
	}
	footer .subfooter{
		margin: 0;
	}
	footer .footer-menu h5{
		text-align: center;
	}

	.page h1 span:before,
	.page h1 span:after{
		display: none;
	}
	#contact-page .contact-address{
		margin: 0;
	}
	#contact-page .col-md-5,
	#contact-page .col-md-4,
	#contact-page .col-md-3{
		margin-bottom: 30px;
	}
	#contact-page h5{
		margin-bottom: 10px;
	}
	#contact-page .contact-note{
		margin: 10px 0;
	}
	h1, h1 span{
		font-size: 28px;
	}
	.page p,{
		padding: 0 15px;
	}
	.callback-popup, .makeRequest{
	    width: 300px;
    	padding: 30px 25px 20px;
	}
	.callback-popup .callback-subtitle, .makeRequest .callback-subtitle{
		font-size: 12px;
	}
	.callback-popup, .makeRequest{
		form input[type=text], form input[type=tel], form input[type=email], form select{
			margin-bottom: 5px;
		}
	}
	.callback-popup h3, .makeRequest h3{
		line-height: 21px;
	}
	.btn.mobile-view.btn-mobile-view{
		display: block;
		width: 280px;
		margin: 20px auto 40px;
	}
	.process-item span{
		font-size: 14px;
	}
	.single-post .entry-header .entry-title span:after, .page .entry-header .entry-title span:after, .category .entry-header .entry-title span:after,
	.single-post .entry-header .entry-title span:before, .page .entry-header .entry-title span:before, .category .entry-header .entry-title span:before	{
		display: none;
	}
	.single-post .entry-header, .page .entry-header, .category .entry-header{
		padding: 0;
	}
	.single-post .post p, 
	.page .post p, 
	.category .post p, 
	.single-post .type-page p, 
	.page .type-page p, 
	.category .type-page p, 
	.single-post #archive-posts p, 
	.page #archive-posts p, 
	.category #archive-posts p, 
	.single-post .post ul, 
	.page .post ul, 
	.category .post ul, 
	.single-post .type-page ul, 
	.page .type-page ul, 
	.category .type-page ul, 
	.single-post #archive-posts ul, 
	.page #archive-posts ul, 
	.category #archive-posts ul,
	.single-post .post ol,
	.page .post ol,
	.category .post ol,
	.single-post .type-page ol,
	.page .type-page ol,
	.category .type-page ol,
	.single-post #archive-posts ol,
	.page #archive-posts ol,
	.category #archive-posts ol	{
		padding: 0 15px;
	}
	.error404, .search-no-results, .page-template-site-search{
		.row{
			margin: auto;
		}
	}
	.search-page-form{
		p{
			display: block;
			text-align: center;
		}
		form{
			display: block;
		}
		input[type=text]{
			display: block;
			margin: 0 auto;
			width: 280px;
			padding: 11px 11px 14px;
		}
		input[type=submit]{
			display: block;
			padding: auto;
			margin: 20px auto;
		}
	}
	.icon-hand, .icon-badge, .icon-man, .icon-folders{
		span{
			&:after{
				display: none;
			};
		}
	}
	#useful h4{
		width: auto;
	}
}

