.search-results{
	.page-title{
		font-family: @font-titles;
		text-align: center;
		margin: 35px 0 20px;
		span{
			font-family: @font-titles;
		}
	}
	.entry-title{
		.post-title-link{
			font-size: 25px;
		}
	}
	.post{
		border-bottom: 1px dashed @decor-color;
		padding: 15px 0 10px;
	}
	.screen-reader-text{
		display: none;
	}
	.pagination{
		display: block;
	}
	.nav-links{
		text-align: center;
		margin: 15px 0;
	}
	.prev{
		padding-right: 20px;
	}
	.next{
		padding-left: 20px;
	}
	.page-numbers{
		font-family: @font-text;
	}
	.current{
		font-weight: 700;
		font-size: 14px;
		color: @main-color;
	}
	.dots{
		color: @main-color;
	}
}
.error404, .search-no-results, .page-template-site-search{
	.page-title{
		font-family: @font-titles;
		text-align: center;
		margin: 35px 0 20px;
	}
	.page-content{
		.clearfix();
		margin: 30px 0 50px;
		.widgettitle{
			display: none;
		}
	}
	p{
		padding: 0;
	}
	.row{
		margin: auto;
	}
}

.search-page-form{
	.clearfix();
	margin-top: 40px;
	label{
		color: @text-second-color;
		display: inline-block;
		display: none;
	}
	p{
		display: inline-block;
	}
	form{
		display: inline-block;
	}
	input[type=text]{
		display: inline-block;
		margin: auto;
		margin-left: 20px;
		width: 280px;
		padding: 11px 11px 14px;
	}
	input[type=submit]{
		display: inline-block;
		padding: auto;
		margin: auto;
	}
}
.search-results{
	.single-post .entry-header, .page .entry-header, .category .entry-header{
		padding: 0;
	}
	.page p{
		padding: 0;
	}
}