.page-table{
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
	font-family: @font-text;
	color: #666666;
	font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px #d1d1d1;
    tr{
    	.tab_hed{
    		background: #f2f2f2;
    	}
    	.tab_header{
    		padding: 15px 0;
    	}
    	td{
    		padding: 15px 25px 25px 25px;
		    border-top: 1px solid #fafafa;
		    border-right: 1px solid #e0e0e0;
		    border-bottom: 1px solid #e0e0e0;
		    vertical-align: middle;
		    &:first-child{
    			background: @main-color;
    			border-bottom: 1px solid @main-color;
    			border-left: 1px solid @main-color;
    			color: @light-color;
    			text-shadow: none;
    			font-weight: bold;
    			font-size: 14px;
		    };
    	}
    	&:hover{
    		td{
    			background: #f9f9f9;
    			&:first-child{
    				background: @main-hover-color;
    				border-left: 1px solid @main-hover-color;
    				border-bottom: 1px solid @main-hover-color;
    			};
    		}
    		.tab_hed{
	    		background: #e9e9e9;
	    	}
	    	.tab_header{
	    		&:first-child{
	    			background: @main-color;
	    			border-bottom: 1px solid @main-color;
	    			border-left: 1px solid @main-color;
	    		};
	    	}
    	};
    }
}