h1,
h1 span{
	font-family: @font-titles;
	font-size: 37px;
	color: @main-color;
	font-weight: 500;
	line-height: 0.8;
}
h2,
h2 span{
	font-family: @font-titles;
	font-size: 35px;
	color: @light-color;
	letter-spacing: 0.5px;
	.text-shadow();
}
h3,
h3 span{
	font-family: @font-titles;
	font-size: 30px;
	color: @light-color;
	.text-shadow();
	text-align: center;
}
h4,
h4 span{
	font-family: @font-titles;
	font-size: 25px;
	color: @main-color;
	font-weight: 500;
	margin: 5px 0 20px;
}
h5{
	font-family: @font-text;
	font-size: 18px;
	color: @light-color;
	margin: 0 0 25px;
}
h5.form-title{
	font-size: 28px;
	font-family: @font-titles;
	color: @light-color;
	.text-shadow();
	text-align: center;
	margin: 17px 0 13px;
}
h6{
	font-family: @font-text;
	font-size: 16px;
	font-weight: 700;
	color: @main-color;
	line-height: 1.8;
}
p, li{
	font-family: @font-text;
	font-size: 14px;
	line-height: 1.5;
	color: @text-second-color;
}
p{
	margin: 9px 0 18px;
}
a{
	font-size: 14px;
	color: @main-color;
	&:hover{
		color:@main-hover-color;
		text-decoration: underline;
	};
}
span, label{
	font-family: @font-text;
}
.logo-title{
	font-family: @font-titles;
	font-weight: 500;
	font-size: 30px;
	line-height: 25px;
	text-transform: uppercase;
	color: @main-color;
	padding: 15px 0 0 2px;
}
.logo-subtitle{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	line-height: 8px;
	color: @text-second-color;
	padding: 0 0 0 3px;
	position: relative;
	top: -5px;
}
.slogan{
	margin: 10px;
}
.slogan-first{
	font-family: @font-light;
	font-size: 31px;
	font-weight: 300;
	color: @text-second-color;
	text-transform: uppercase;
	display: block;
}
.slogan-second{
	font-family: @font-light;
	font-size: 45px;
	font-weight: 300;
	color: @main-color;
	text-transform: uppercase;
	display: block;
	margin: 0 0 0 52px;
}
.number{
	font-family: @font-titles;
	font-weight: 500;
	font-size: 28px;
	color: @main-color;
	line-height: 1;
	&:hover{
		color: @main-hover-color;
		text-decoration: none;
	};
}
.address-title{
	color: @main-color;
	font-weight: bold;
	font-size: 13px;
}
.address-description{
	font-size: 14px;
	line-height: 19px;
}

.h1-subtitle{
	font-size: 14px;
	color: @text-second-color; 
	text-transform: uppercase;
}
.count-title{
	font-size: 16px;
	display: block;
	margin: 0 0 10px;
	color: @text-second-color;
}

.extra-link,
#get-loan li a,
.info li a{
	font-family: @font-text;
	font-size: 14px;
	color: @main-color;
	position: relative;
	font-weight: 400;
	line-height: 1.5;
	&:hover{
		color:@main-hover-color !important;
		text-decoration: underline;
	};
	&:before{
		content:'';
		display: block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: @main-hover-color;
		position: absolute;
		top: 6px;
		left: -13px;
	};
}

.copy{
	font-family: @font-text;
	font-size: 13px;
	text-transform: uppercase;
}

.icon-hand{
	span{
		position: relative;
		&:after{
			content:'';
			display: block;
			width: 41px;
			height: 34px;
			background: url(../../assets/img/icon-hand.png) no-repeat center center;
			position: absolute;
			background-size: contain;
			top: -8px;
	    	right: -45px;
		};
	}
}
.icon-badge{
	span{
		position: relative;
		&:after{
			content:'';
			display: block;
			width: 29px;
			height: 28px;
			background: url(../../assets/img/icon-badge.png) no-repeat center center;
			position: absolute;
			background-size: contain;
			top: -8px;
	    	right: -45px;
		};
	}	
}
.icon-man{
	span{
		position: relative;
		&:after{
			content:'';
			display: block;
			width: 25px;
			height: 30px;
			background: url(../../assets/img/icon-man.png) no-repeat center center;
			position: absolute;
			background-size: contain;
			top: -8px;
	    	right: -45px;
		};
	}
}
.icon-folders{
	span{
		position: relative;
		&:after{
			content:'';
			display: block;
			width: 35px;
			height: 26px;
			background: url(../../assets/img/icon-folders.png) no-repeat center center;
			position: absolute;
			background-size: contain;
			top: -3px;
	    	right: -45px;
		};
	}
}








