@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext';
/*-- reset --*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  border: 0;
  outline: none;
}
select::-ms-expand {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
button,
input,
textarea,
select {
  outline: none;
}
/*-- reset END --*/
@font-face {
  font-family: 'MyriadPro-SemiboldCond';
  src: url('../fonts/MyriadPro-SemiboldCond.eot');
  src: url('../fonts/MyriadPro-SemiboldCond.woff2') format('woff2'), url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype'), url('../fonts/MyriadPro-SemiboldCond.svg#MyriadPro-SemiboldCond') format('svg'), url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-LightCond';
  src: url('../fonts/MyriadPro-LightCond.eot');
  src: url('../fonts/MyriadPro-LightCond.woff2') format('woff2'), url('../fonts/MyriadPro-LightCond.woff') format('woff'), url('../fonts/MyriadPro-LightCond.ttf') format('truetype'), url('../fonts/MyriadPro-LightCond.svg#MyriadPro-LightCond') format('svg'), url('../fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
h1,
h1 span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 37px;
  color: #528d25;
  font-weight: 500;
  line-height: 0.8;
}
h2,
h2 span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
}
h3,
h3 span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
  text-align: center;
}
h4,
h4 span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 25px;
  color: #528d25;
  font-weight: 500;
  margin: 5px 0 20px;
}
h5 {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 25px;
}
h5.form-title {
  font-size: 28px;
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  color: #ffffff;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
  text-align: center;
  margin: 17px 0 13px;
}
h6 {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #528d25;
  line-height: 1.8;
}
p,
li {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #796040;
}
p {
  margin: 9px 0 18px;
}
a {
  font-size: 14px;
  color: #528d25;
}
a:hover {
  color: #85c547;
  text-decoration: underline;
}
span,
label {
  font-family: 'PT Sans', Arial, Sans-serif;
}
.logo-title {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  color: #528d25;
  padding: 15px 0 0 2px;
}
.logo-subtitle {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 8px;
  color: #796040;
  padding: 0 0 0 3px;
  position: relative;
  top: -5px;
}
.slogan {
  margin: 10px;
}
.slogan-first {
  font-family: 'MyriadPro-LightCond', Arial, Sans-serif;
  font-size: 31px;
  font-weight: 300;
  color: #796040;
  text-transform: uppercase;
  display: block;
}
.slogan-second {
  font-family: 'MyriadPro-LightCond', Arial, Sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #528d25;
  text-transform: uppercase;
  display: block;
  margin: 0 0 0 52px;
}
.number {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #528d25;
  line-height: 1;
}
.number:hover {
  color: #85c547;
  text-decoration: none;
}
.address-title {
  color: #528d25;
  font-weight: bold;
  font-size: 13px;
}
.address-description {
  font-size: 14px;
  line-height: 19px;
}
.h1-subtitle {
  font-size: 14px;
  color: #796040;
  text-transform: uppercase;
}
.count-title {
  font-size: 16px;
  display: block;
  margin: 0 0 10px;
  color: #796040;
}
.extra-link,
#get-loan li a,
.info li a {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 14px;
  color: #528d25;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
}
.extra-link:hover,
#get-loan li a:hover,
.info li a:hover {
  color: #85c547 !important;
  text-decoration: underline;
}
.extra-link:before,
#get-loan li a:before,
.info li a:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #85c547;
  position: absolute;
  top: 6px;
  left: -13px;
}
.copy {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.icon-hand span {
  position: relative;
}
.icon-hand span:after {
  content: '';
  display: block;
  width: 41px;
  height: 34px;
  background: url(../../assets/img/icon-hand.png) no-repeat center center;
  position: absolute;
  background-size: contain;
  top: -8px;
  right: -45px;
}
.icon-badge span {
  position: relative;
}
.icon-badge span:after {
  content: '';
  display: block;
  width: 29px;
  height: 28px;
  background: url(../../assets/img/icon-badge.png) no-repeat center center;
  position: absolute;
  background-size: contain;
  top: -8px;
  right: -45px;
}
.icon-man span {
  position: relative;
}
.icon-man span:after {
  content: '';
  display: block;
  width: 25px;
  height: 30px;
  background: url(../../assets/img/icon-man.png) no-repeat center center;
  position: absolute;
  background-size: contain;
  top: -8px;
  right: -45px;
}
.icon-folders span {
  position: relative;
}
.icon-folders span:after {
  content: '';
  display: block;
  width: 35px;
  height: 26px;
  background: url(../../assets/img/icon-folders.png) no-repeat center center;
  position: absolute;
  background-size: contain;
  top: -3px;
  right: -45px;
}
body {
  background-color: #fffdf6;
}
.site-content {
  background: url(../img/bg_pattern.png);
  background-size: contain;
}
.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}
.btn {
  width: 100%;
  height: 45px;
  background: #ffba00;
  border-radius: 5px;
  border: 0;
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
  text-align: center;
  padding: 15px 15px 10px;
  display: block;
  box-shadow: 0px 3px 0 0 #db7616;
  position: relative;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.btn:before,
.btn:after {
  content: '';
  display: table;
  clear: both;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
  background: #ffaa00;
  top: 1px;
  box-shadow: 0px 2px 0 0 #db7616;
}
.btn:active {
  top: 3px;
  box-shadow: 0 0 0 0 #db7616;
}
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}
hr {
  border-top: 1px dashed #cfc4b5;
  margin-top: 35px;
  margin-bottom: 50px;
}
a:focus {
  color: inherit;
}
.page h1 {
  text-align: center;
  margin: 33px 0;
}
.page h1 span {
  position: relative;
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
}
.page h1 span:before {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  left: -55px;
  top: 50%;
}
.page h1 span:after {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  right: -55px;
  top: 50%;
}
/* --- header ---*/
.top-decorated .container {
  padding: 0;
}
.top-decorated .col-md-4 {
  width: 33.33%;
  float: left;
  height: 7px;
}
.top-decorated .col-md-4:nth-of-type(1) {
  background: #ffca00;
}
.top-decorated .col-md-4:nth-of-type(2) {
  background: #85c547;
}
.top-decorated .col-md-4:nth-of-type(3) {
  background: #528d25;
}
.block-header {
  background: url(../img/header_bg.png) no-repeat center top;
  padding: 23px 0 0;
}
.home-url {
  text-decoration: none;
}
.home-url:hover {
  text-decoration: none;
}
.logo {
  padding: 15px 0 0 13px;
}
.logo .logo-img {
  display: block;
  float: left;
}
.logo .logo-text {
  margin: 15px 0 0;
}
.info-block:before,
.info-block:after {
  content: '';
  display: table;
  clear: both;
}
.info-block .tel-numb {
  margin: 0 0 0 5px;
  float: left;
}
.info-block .number {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.info-block img {
  display: block;
  float: left;
  margin: 10px 0;
}
.info-block a {
  display: block;
}
.address {
  padding: 0 0 0 20px;
  float: left;
  width: 150px;
}
.address span {
  display: block;
}
.call-back {
  padding: 5px 0 10px 35px;
}
.call-back:before,
.call-back:after {
  content: '';
  display: table;
  clear: both;
}
.call-back .btn-call-back {
  width: 235px;
}
.menu-row {
  margin: 0;
}
.nav-bar {
  background: #ffba00;
  display: block;
  margin: 25px 0 13px;
  position: relative;
}
.nav-bar:before,
.nav-bar:after {
  content: '';
  display: table;
  clear: both;
}
.nav-bar .decorated-line {
  width: 100%;
  height: 3px;
  background: #f0a50a;
  border-top: 1px solid #ffd156;
}
.nav-bar .decorated-line:after {
  content: '';
  width: 96.3%;
  height: 13px;
  background: rgba(0, 0, 0, 0.03);
  position: absolute;
  top: 53px;
  left: 21px;
}
.nav-bar .decorated-arrow {
  position: relative;
}
.nav-bar .decorated-arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 5px solid #d78319;
  border-right: 13px solid #d78319;
}
.nav-bar .decorated-arrow:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 5px solid #d78319;
  border-left: 13px solid #d78319;
}
.menu-bar {
  width: 71.5%;
  float: left;
}
.menu-bar ul {
  padding: 0 10px;
}
.menu-bar ul li {
  display: inline-block;
  position: relative;
}
.menu-bar ul li :after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 13px;
  right: 0;
}
.menu-bar ul li:last-child :after {
  display: none;
}
.menu-bar ul li a {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 2.4;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
  padding: 0 30px;
}
.menu-bar ul .current-menu-item a,
.menu-bar ul .current-menu-parent a {
  text-decoration: underline;
}
.menu-bar ul .current-menu-item .sub-menu li a,
.menu-bar ul .current-menu-parent .sub-menu li a {
  text-decoration: none;
}
.menu-bar ul .current-menu-item .sub-menu li a:hover,
.menu-bar ul .current-menu-parent .sub-menu li a:hover {
  text-decoration: underline;
}
.menu-bar ul .current-menu-item .sub-menu .current-menu-item a,
.menu-bar ul .current-menu-parent .sub-menu .current-menu-item a {
  text-decoration: underline;
}
.menu-bar .menu-item-has-children {
  position: relative;
}
.menu-bar .menu-item-has-children:hover .sub-menu {
  display: block;
  width: 250px;
  position: absolute;
  top: 50px;
  left: -10px;
  background: #ffba00;
  z-index: 100;
  padding: 0;
}
.menu-bar .menu-item-has-children:hover .sub-menu:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #f0a50a;
  border-top: 1px solid #ffd156;
}
.menu-bar .menu-item-has-children:hover .sub-menu:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #ffd156;
  border-top: 2px solid #f0a50a;
  position: relative;
  top: 0;
}
.menu-bar .menu-item-has-children:hover .sub-menu li {
  margin: 10px 0 0;
  padding: 0 0 5px 8px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ffd156;
}
.menu-bar .menu-item-has-children:hover .sub-menu li:after {
  display: none;
}
.menu-bar .menu-item-has-children:hover .sub-menu li:last-child {
  border-bottom: 0;
}
.menu-bar .menu-item-has-children:hover .sub-menu li a {
  line-height: 1.6;
  font-size: 18px;
  display: block;
}
.menu-bar .menu-item-has-children:hover .sub-menu li a:after {
  display: none;
}
.menu-bar .sub-menu {
  display: none;
}
.search-block {
  width: 285px;
  float: left;
  position: relative;
}
.search-block:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../assets/img/icon-search.png) no-repeat;
  position: absolute;
  top: 14px;
  right: 10px;
}
.search-block input[type=text] {
  background: #db7616;
  border-radius: 5px;
  border: 1px solid #ffd156;
  box-shadow: 0 0 5px 0px #c86714 inset;
  color: #ffffff;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 14px;
  width: 280px;
  margin: 6px 0 0 3px;
  height: 35px;
  padding: 12px;
  letter-spacing: 0.3px;
}
.search-block label {
  color: #ffffff;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 14px;
  display: block;
  position: absolute;
  width: 278px;
  padding: 10px 12px 9px;
  top: 7px;
  left: 4px;
}
.search-block input[type=submit] {
  display: none;
}
.mobile-menu {
  position: relative;
  width: 100%;
  float: right;
  margin: 8px 0;
}
.mobile-menu .icon-menu-wrap {
  width: 46px;
  height: 35px;
  margin: 0 10px 0;
  background: transparent;
  border: 1px solid #ffd156;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}
.mobile-menu .icon-menu-wrap .hamburger-icon {
  width: 30px;
  height: 4px;
  background: #796040;
  border-radius: 4px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-menu .icon-menu-wrap .hamburger-icon:before,
.mobile-menu .icon-menu-wrap .hamburger-icon:after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background: #796040;
  border-radius: 4px;
  position: absolute;
}
.mobile-menu .icon-menu-wrap .hamburger-icon:before {
  margin-top: -6px;
}
.mobile-menu .icon-menu-wrap .hamburger-icon:after {
  margin-top: 6px;
}
.mobile-menu .icon-menu-wrap.open {
  background: #ffffff;
}
.mobile-menu .menu-wrap {
  width: 100%;
  position: relative;
  border-radius: 3px;
  background: #fab400;
  top: 41px;
  z-index: 700;
  text-align: right;
}
.mobile-menu .menu-wrap:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #ffd156;
  border-top: 2px solid #f0a50a;
}
.mobile-menu .menu-wrap:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #f0a50a;
  border-top: 1px solid #ffd156;
}
.mobile-menu .menu-wrap .mobile-menu-item {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #c5c5c5;
}
.mobile-menu .menu-wrap .mobile-menu-item:last-child {
  border-bottom: 0;
}
.mobile-menu .menu-wrap .mobile-menu-item:hover,
.mobile-menu .menu-wrap .mobile-menu-item:active {
  background: #f7f7f7;
}
.mobile-menu .menu-wrap ul {
  padding: 0 68px 0 0;
}
.mobile-menu .menu-wrap ul .sub-menu {
  padding: 0 28px 0 0;
}
.mobile-menu .menu-wrap a {
  color: #ffffff;
  font-size: 16px;
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
  text-transform: uppercase;
  display: block;
  width: 100%;
  position: relative;
}
.mobile-menu .menu-wrap a:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: -12px;
}
.mobile-menu .menu-wrap .current-menu-item a {
  text-decoration: underline;
}
.hide,
.mobile-view {
  display: none;
}
/* --- header END --- */
/* --- footer --- */
footer {
  background: url(../../assets/img/bg_footer.png) no-repeat;
  background-size: cover;
  background-position-y: top;
  padding: 30px 0 20px;
  color: #ffffff;
}
footer .foot.widget.widget_nav_menu h3 {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 25px;
  text-align: left;
}
footer .foot.widget.widget_nav_menu ul {
  margin-left: 20px;
}
footer .foot.widget.widget_nav_menu a {
  font-family: 'PT Sans', Arial, Sans-serif;
  color: #ffffff;
  position: relative;
  text-decoration: underline;
  line-height: 1.6;
}
footer .foot.widget.widget_nav_menu a:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 7px;
  left: -19px;
}
footer .foot.widget.widget_nav_menu a:hover:before {
  background: #ffffff;
}
footer #true-foot-2 li {
  margin: 0 0 15px 0;
}
footer .number,
footer .address-title {
  color: #85c547;
}
footer .subfooter {
  margin: 0 0 0 30px;
  display: table;
}
footer .subfooter .copy {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 10px;
}
/* --- footer END --- */
/* --- sections --- */
#functional-section {
  padding: 30px 0 20px;
  background: url(../../assets/img/woman.png) no-repeat center -30px;
}
.calc-title {
  margin-left: 60px;
  width: 395px;
  position: relative;
  text-align: center;
}
.calc-title h1 {
  margin: 0;
}
.calc-title:before {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  left: -45px;
  bottom: 22px;
}
.calc-title:after {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  right: -45px;
  bottom: 22px;
}
.why-us-item {
  margin: 25px 0 15px;
}
.why-us-item:before,
.why-us-item:after {
  content: '';
  display: table;
  clear: both;
}
.why-us-item img {
  display: block;
  float: left;
  margin: 5px 0 0;
}
.why-us-item .why-us-description {
  float: left;
  width: 80%;
  margin: 0 0 0 5px;
}
.why-us-item .why-us-description span {
  line-height: 1.6;
  color: #796040;
}
#process {
  background: url(../../assets/img/bg-yellow.png) no-repeat;
  background-size: cover;
  background-position-y: bottom;
  padding: 30px 0 20px;
}
.process-item {
  margin: 10px 10px 0;
  text-align: center;
  position: relative;
}
.process-item:after {
  content: '';
  display: block;
  width: 24px;
  height: 36px;
  background: url(../../assets/img/arrow.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  right: -30px;
  top: 65px;
}
.process-item span {
  display: block;
  line-height: 1.4;
  margin: 5px;
}
.col-md-2:last-child .process-item:after {
  display: none;
}
#benefits {
  padding: 30px 0 20px;
  position: relative;
}
#benefits h4 {
  color: #796040;
}
#benefits .benefits-woman {
  position: absolute;
  top: 31px;
  right: 37px;
}
#benefits .big-link {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 1;
  text-decoration: underline;
  text-transform: uppercase;
  color: #528d25;
  width: 120px;
  position: absolute;
  top: 85px;
  left: 90px;
  z-index: 100;
}
.your-benefit-item {
  padding: 8px 0 15px;
}
.your-benefit-item:before,
.your-benefit-item:after {
  content: '';
  display: table;
  clear: both;
}
.your-benefit-item img {
  display: block;
  float: left;
}
.your-benefit-item .benefit-description {
  width: 80%;
  float: left;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #796040;
  margin: 0 0 0 15px;
}
.your-benefit-item .benefit-description span {
  color: #528d25;
}
#package {
  padding: 30px 0 20px;
  background: url(../../assets/img/bg-green.png) no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.min-package {
  margin: 35px 0 25px;
}
.min-package:before,
.min-package:after {
  content: '';
  display: table;
  clear: both;
}
.min-package li img {
  display: block;
  float: left;
}
.min-package li small {
  display: block;
  float: left;
  width: 48%;
  font-size: 14px;
  font-family: 'PT Sans', Arial, Sans-serif;
  line-height: 1.3;
  margin: 5px 0 0 20px;
}
.min-package li small span {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.27);
}
#useful {
  padding: 25px 0 20px;
}
#useful h4 {
  color: #796040;
  width: 220px;
  display: inline-block;
}
#useful .all-testim {
  float: right;
  display: inline-block;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 8px;
  line-height: 1;
}
#useful a {
  font-size: 16px;
}
.testimonial-item {
  padding: 0 36px 0 30px;
  position: relative;
}
.testimonial-item:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  border-right: 1px dashed #cfc4b5;
  position: absolute;
  right: -8px;
  top: 0;
}
.testimonial-item:last-child:after {
  right: -32px;
}
.testimonial-item img {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.testimonial-item span {
  line-height: 1.6;
  font-size: 15px;
  color: #796040;
}
.testimonial-item .testimonial-meta {
  margin: 15px 0 0;
}
.testimonial-item .testimonial-name {
  color: #528d25;
}
.info li {
  margin: 10px 40px 25px;
}
.info li a {
  font-size: 16px;
  text-decoration: underline;
  line-height: 1.4;
}
#special-сonditions {
  padding: 40px 0 45px;
  background: url(../../assets/img/bg_yellow2.png) no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
}
.conditions {
  margin: 0 0 0 40px;
  position: relative;
}
.conditions:before,
.conditions:after {
  content: '';
  display: table;
  clear: both;
}
.сond-text {
  width: 270px;
  float: left;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  padding: 0 0 0 30px;
  margin-top: 15px;
}
.сond-text:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 4px;
  top: 1px;
}
.count-block {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}
.countdown {
  background: rgba(255, 255, 255, 0.4);
  padding: 5px 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.flip-clock-wrapper {
  height: 55px;
  width: 236px;
  margin: 0px !important;
}
.flip-clock-wrapper ul {
  width: 35px;
  height: 45px;
  border-radius: 2px;
  font-weight: normal;
  margin: 5px 1px;
}
.flip-clock-wrapper ul li a div,
.flip-clock-wrapper ul li a div div.inn {
  font-size: 40px;
}
.flip-clock-wrapper ul li {
  line-height: 45px;
}
.flip-clock-dot {
  width: 3px;
  height: 3px;
  background: #ffffff;
  left: 2px;
}
.flip-clock-dot.top {
  top: 20px;
}
.flip-clock-dot.bottom {
  bottom: 20px;
}
.flip-clock-divider {
  width: 7px;
  height: 55px;
  position: relative;
}
.flip-clock-divider .flip-clock-label {
  top: auto;
  bottom: -13px;
  right: -50px;
  z-index: 100;
  display: block;
  position: absolute;
}
.flip-clock-label {
  font-size: 0;
  color: transparent;
}
.flip-clock-divider.days .flip-clock-label:after {
  content: 'Дней';
  display: block;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 11px;
  color: #796040;
}
.flip-clock-divider.hours .flip-clock-label:after {
  content: 'Часов';
  display: block;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 11px;
  color: #796040;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -51px;
}
.flip-clock-divider.minutes .flip-clock-label:after {
  content: 'Минут';
  display: block;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 11px;
  color: #796040;
}
.tablet-form {
  background: url(../../assets/img/tablet_bg.png) no-repeat;
  position: absolute;
  padding: 15px 79px 40px 88px;
  top: -35px;
  left: -6px;
}
#get-loan {
  padding: 30px 0 20px;
}
#get-loan .loan {
  border-bottom: 1px dashed #cfc4b5;
}
#get-loan .loan:before,
#get-loan .loan:after {
  content: '';
  display: table;
  clear: both;
}
#get-loan h2 {
  color: #528d25;
  text-align: center;
  text-shadow: none;
}
#get-loan ul {
  margin: 30px 0;
}
#get-loan li {
  margin: 0 0 5px 42px;
}
#get-loan li a {
  color: #3c5e1b;
}
#seo-text {
  overflow-y: hidden;
}
.seo-text {
  margin: 30px;
}
.seo-text:before,
.seo-text:after {
  content: '';
  display: table;
  clear: both;
}
.seo-text p {
  padding: 0 !important;
}
.our-blog-block {
  position: relative;
}
.our-blog-block:before,
.our-blog-block:after {
  content: '';
  display: table;
  clear: both;
}
.our-blog {
  font-family: 'MyriadPro-LightCond', Arial, Sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
  text-decoration: underline;
  width: 70px;
  height: 30px;
  display: block;
  position: absolute;
  top: 163px;
  z-index: 100;
  left: 7px;
  -moz-transform: rotate(-32deg);
  /* Для Firefox */
  -ms-transform: rotate(-32deg);
  /* Для IE */
  -webkit-transform: rotate(-32deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-32deg);
  /* Для Opera */
  transform: rotate(-32deg);
}
.our-blog:hover {
  color: #ffffff;
}
.woman-blog {
  position: absolute;
  top: 38px;
  right: -7px;
}
/* --- sections END --- */
.single-post #get-loan .loan {
  border-bottom: 0;
}
.single-post .post,
.page .post,
.category .post,
.single-post .type-page,
.page .type-page,
.category .type-page,
.single-post #archive-posts,
.page #archive-posts,
.category #archive-posts {
  margin: 25px 0 20px;
}
.single-post .post:before,
.page .post:before,
.category .post:before,
.single-post .type-page:before,
.page .type-page:before,
.category .type-page:before,
.single-post #archive-posts:before,
.page #archive-posts:before,
.category #archive-posts:before,
.single-post .post:after,
.page .post:after,
.category .post:after,
.single-post .type-page:after,
.page .type-page:after,
.category .type-page:after,
.single-post #archive-posts:after,
.page #archive-posts:after,
.category #archive-posts:after {
  content: '';
  display: table;
  clear: both;
}
.single-post .post h1,
.page .post h1,
.category .post h1,
.single-post .type-page h1,
.page .type-page h1,
.category .type-page h1,
.single-post #archive-posts h1,
.page #archive-posts h1,
.category #archive-posts h1,
.single-post .post h2,
.page .post h2,
.category .post h2,
.single-post .type-page h2,
.page .type-page h2,
.category .type-page h2,
.single-post #archive-posts h2,
.page #archive-posts h2,
.category #archive-posts h2,
.single-post .post h3,
.page .post h3,
.category .post h3,
.single-post .type-page h3,
.page .type-page h3,
.category .type-page h3,
.single-post #archive-posts h3,
.page #archive-posts h3,
.category #archive-posts h3,
.single-post .post h4,
.page .post h4,
.category .post h4,
.single-post .type-page h4,
.page .type-page h4,
.category .type-page h4,
.single-post #archive-posts h4,
.page #archive-posts h4,
.category #archive-posts h4,
.single-post .post h5,
.page .post h5,
.category .post h5,
.single-post .type-page h5,
.page .type-page h5,
.category .type-page h5,
.single-post #archive-posts h5,
.page #archive-posts h5,
.category #archive-posts h5,
.single-post .post h6,
.page .post h6,
.category .post h6,
.single-post .type-page h6,
.page .type-page h6,
.category .type-page h6,
.single-post #archive-posts h6,
.page #archive-posts h6,
.category #archive-posts h6 {
  text-align: center;
  text-shadow: none;
  margin: 7px 0 33px;
}
.single-post .post h1 span,
.page .post h1 span,
.category .post h1 span,
.single-post .type-page h1 span,
.page .type-page h1 span,
.category .type-page h1 span,
.single-post #archive-posts h1 span,
.page #archive-posts h1 span,
.category #archive-posts h1 span,
.single-post .post h2 span,
.page .post h2 span,
.category .post h2 span,
.single-post .type-page h2 span,
.page .type-page h2 span,
.category .type-page h2 span,
.single-post #archive-posts h2 span,
.page #archive-posts h2 span,
.category #archive-posts h2 span,
.single-post .post h3 span,
.page .post h3 span,
.category .post h3 span,
.single-post .type-page h3 span,
.page .type-page h3 span,
.category .type-page h3 span,
.single-post #archive-posts h3 span,
.page #archive-posts h3 span,
.category #archive-posts h3 span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
}
.single-post .post h2,
.page .post h2,
.category .post h2,
.single-post .type-page h2,
.page .type-page h2,
.category .type-page h2,
.single-post #archive-posts h2,
.page #archive-posts h2,
.category #archive-posts h2 {
  font-size: 25px;
  color: #796040;
  margin: 0;
}
.single-post .post h3,
.page .post h3,
.category .post h3,
.single-post .type-page h3,
.page .type-page h3,
.category .type-page h3,
.single-post #archive-posts h3,
.page #archive-posts h3,
.category #archive-posts h3 {
  font-size: 26px;
  text-transform: uppercase;
  color: #528d25;
}
.single-post .post p,
.page .post p,
.category .post p,
.single-post .type-page p,
.page .type-page p,
.category .type-page p,
.single-post #archive-posts p,
.page #archive-posts p,
.category #archive-posts p,
.single-post .post ul,
.page .post ul,
.category .post ul,
.single-post .type-page ul,
.page .type-page ul,
.category .type-page ul,
.single-post #archive-posts ul,
.page #archive-posts ul,
.category #archive-posts ul,
.single-post .post ol,
.page .post ol,
.category .post ol,
.single-post .type-page ol,
.page .type-page ol,
.category .type-page ol,
.single-post #archive-posts ol,
.page #archive-posts ol,
.category #archive-posts ol {
  padding: 0 85px;
}
.single-post .post ul,
.page .post ul,
.category .post ul,
.single-post .type-page ul,
.page .type-page ul,
.category .type-page ul,
.single-post #archive-posts ul,
.page #archive-posts ul,
.category #archive-posts ul {
  margin-bottom: 10px;
}
.single-post .post ul:before,
.page .post ul:before,
.category .post ul:before,
.single-post .type-page ul:before,
.page .type-page ul:before,
.category .type-page ul:before,
.single-post #archive-posts ul:before,
.page #archive-posts ul:before,
.category #archive-posts ul:before,
.single-post .post ul:after,
.page .post ul:after,
.category .post ul:after,
.single-post .type-page ul:after,
.page .type-page ul:after,
.category .type-page ul:after,
.single-post #archive-posts ul:after,
.page #archive-posts ul:after,
.category #archive-posts ul:after {
  content: '';
  display: table;
  clear: both;
}
.single-post .post li,
.page .post li,
.category .post li,
.single-post .type-page li,
.page .type-page li,
.category .type-page li,
.single-post #archive-posts li,
.page #archive-posts li,
.category #archive-posts li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.single-post .post li:before,
.page .post li:before,
.category .post li:before,
.single-post .type-page li:before,
.page .type-page li:before,
.category .type-page li:before,
.single-post #archive-posts li:before,
.page #archive-posts li:before,
.category #archive-posts li:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #528d25;
  position: absolute;
  left: 0;
  top: 8px;
}
.single-post .entry-header,
.page .entry-header,
.category .entry-header {
  padding: 0 140px;
  margin-bottom: 33px;
  position: relative;
}
.single-post .entry-header .entry-title span,
.page .entry-header .entry-title span,
.category .entry-header .entry-title span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  position: relative;
  display: block;
}
.single-post .entry-header .entry-title span:before,
.page .entry-header .entry-title span:before,
.category .entry-header .entry-title span:before {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  left: -55px;
  top: 50%;
}
.single-post .entry-header .entry-title span:after,
.page .entry-header .entry-title span:after,
.category .entry-header .entry-title span:after {
  content: '';
  display: block;
  width: 35px;
  height: 1px;
  border-top: 1px dashed #cfc4b5;
  position: absolute;
  right: -55px;
  top: 50%;
}
.single-post .entry-header h1.entry-title,
.page .entry-header h1.entry-title,
.category .entry-header h1.entry-title {
  text-align: center;
}
.page p {
  padding: 0 85px;
}
.archive h2,
.archive h2 a {
  font-size: 25px;
  color: #528d25;
  margin: 34px 0;
}
.archive .post {
  border-bottom: 1px dashed #cfc4b5;
  padding: 15px 0 25px;
}
.nav-links {
  text-align: center;
  font-family: 'PT Sans', Arial, Sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.7px;
}
.nav-previous,
.nav-next {
  display: inline-block;
  padding: 0 10px;
}
blockquote {
  padding: 40px 0;
  border-bottom: 1px dashed #cfc4b5;
}
blockquote:before,
blockquote:after {
  content: '';
  display: table;
  clear: both;
}
blockquote p small {
  font-style: italic;
  text-align: right;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
blockquote:last-child {
  border-bottom: 0;
  padding: 40px 0 10px;
}
.screen-reader-text {
  display: none;
}
.search-results .page-title {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  text-align: center;
  margin: 35px 0 20px;
}
.search-results .page-title span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
}
.search-results .entry-title .post-title-link {
  font-size: 25px;
}
.search-results .post {
  border-bottom: 1px dashed #cfc4b5;
  padding: 15px 0 10px;
}
.search-results .screen-reader-text {
  display: none;
}
.search-results .pagination {
  display: block;
}
.search-results .nav-links {
  text-align: center;
  margin: 15px 0;
}
.search-results .prev {
  padding-right: 20px;
}
.search-results .next {
  padding-left: 20px;
}
.search-results .page-numbers {
  font-family: 'PT Sans', Arial, Sans-serif;
}
.search-results .current {
  font-weight: 700;
  font-size: 14px;
  color: #528d25;
}
.search-results .dots {
  color: #528d25;
}
.error404 .page-title,
.search-no-results .page-title,
.page-template-site-search .page-title {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  text-align: center;
  margin: 35px 0 20px;
}
.error404 .page-content,
.search-no-results .page-content,
.page-template-site-search .page-content {
  margin: 30px 0 50px;
}
.error404 .page-content:before,
.search-no-results .page-content:before,
.page-template-site-search .page-content:before,
.error404 .page-content:after,
.search-no-results .page-content:after,
.page-template-site-search .page-content:after {
  content: '';
  display: table;
  clear: both;
}
.error404 .page-content .widgettitle,
.search-no-results .page-content .widgettitle,
.page-template-site-search .page-content .widgettitle {
  display: none;
}
.error404 p,
.search-no-results p,
.page-template-site-search p {
  padding: 0;
}
.error404 .row,
.search-no-results .row,
.page-template-site-search .row {
  margin: auto;
}
.search-page-form {
  margin-top: 40px;
}
.search-page-form:before,
.search-page-form:after {
  content: '';
  display: table;
  clear: both;
}
.search-page-form label {
  color: #796040;
  display: inline-block;
  display: none;
}
.search-page-form p {
  display: inline-block;
}
.search-page-form form {
  display: inline-block;
}
.search-page-form input[type=text] {
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  width: 280px;
  padding: 11px 11px 14px;
}
.search-page-form input[type=submit] {
  display: inline-block;
  padding: auto;
  margin: auto;
}
.search-results .single-post .entry-header,
.search-results .page .entry-header,
.search-results .category .entry-header {
  padding: 0;
}
.search-results .page p {
  padding: 0;
}
.callback-popup h3,
.makeRequest h3 {
  color: #528d25;
  text-shadow: none;
}
.callback-popup .callback-title,
.makeRequest .callback-title {
  text-align: center;
}
.callback-popup .callback-subtitle,
.makeRequest .callback-subtitle {
  color: #796040;
  font-size: 14px;
}
.callback-popup .note,
.makeRequest .note {
  color: #796040;
  font-size: 12px;
  display: block;
  margin-top: 12px;
}
.callback-popup form,
.makeRequest form {
  margin: 20px 0 0;
}
.callback-popup form:before,
.makeRequest form:before,
.callback-popup form:after,
.makeRequest form:after {
  content: '';
  display: table;
  clear: both;
}
.callback-popup form p,
.makeRequest form p {
  margin: 0;
}
.callback-popup input[type=text],
.makeRequest input[type=text],
.callback-popup input[type=tel],
.makeRequest input[type=tel],
.callback-popup select,
.makeRequest select,
.callback-popup input[type=email],
.makeRequest input[type=email] {
  width: 100%;
}
.callback-popup select,
.makeRequest select {
  height: 39px;
  background: #ffffff;
}
.callback-popup input[type=submit],
.makeRequest input[type=submit] {
  margin: 20px auto 0;
  padding: 10px 15px 10px;
}
.callback-popup,
.makeRequest {
  width: 600px;
  background: #ffffff;
  padding: 50px 100px 40px;
}
.callback-popup a.close,
.makeRequest a.close {
  top: 10px;
  right: 10px;
}
.call-back .modal-box,
.makeRequest.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.call-back .modal-box .modal-content,
.makeRequest .modal-box .modal-content {
  padding: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-box .modal-content img {
  display: block;
}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) !important;
}
a.close {
  line-height: 30px;
  font-size: 37px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  background: #ffffff;
}
form input[type=text],
form input[type=tel],
form input[type=email],
form select {
  width: 217px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-family: 'PT Sans', Arial, Sans-serif;
}
form input[type=submit] {
  width: 180px;
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
}
.form-home-calc .form-field {
  display: inline-block;
  width: 49%;
  float: left;
  position: relative;
}
.form-home-calc .form-field input {
  width: 100%;
}
.form-home-calc .last-field {
  margin-left: 2%;
}
.form-home-calc label {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 13px 8px 10px;
  font-size: 14px;
}
.tablet-form .wpcf7-form p {
  position: relative;
  margin: 0;
  padding: 0;
}
.tablet-form .wpcf7-form label {
  position: absolute;
  width: 217px;
  padding: 8px;
  top: 1px;
  left: 0px;
  z-index: 100;
}
.tablet-form .wpcf7-form input[type=submit] {
  padding: 10px 15px;
}
.tablet-form .wpcf7-form input[type=text].wpcf7-not-valid,
.tablet-form .wpcf7-form input[type=tel].wpcf7-not-valid {
  border: 1px solid rgba(150, 0, 0, 0.6);
  box-shadow: 0 0 1px 1px #fcbd0e inset;
}
.tablet-form .wpcf7-form img.ajax-loader {
  display: none !important;
  visibility: hidden !important;
}
.tablet-form .wpcf7-form .wpcf7-not-valid-tip {
  display: none;
}
.tablet-form .wpcf7-form div.wpcf7-validation-errors {
  display: none !important;
}
.makeRequest p,
.makeRequestMobile p {
  position: relative;
}
.makeRequest label,
.makeRequestMobile label {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 8px;
}
div.wpcf7 img.ajax-loader {
  display: none !important;
  visibility: hidden !important;
}
div.wpcf7-validation-errors,
span.wpcf7-not-valid-tip {
  display: none !important;
}
input[type=text].wpcf7-not-valid,
input[type=email].wpcf7-not-valid,
textarea.wpcf7-not-valid,
input[type=tel].wpcf7-not-valid {
  border: 1px solid rgba(150, 0, 0, 0.6);
  box-shadow: 0 0 1px 1px #fcbd0e inset;
}
#contact-page p {
  position: relative;
  padding: 0 !important;
}
#contact-page input[type=text],
#contact-page input[type=email],
#contact-page textarea {
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 0px;
}
#contact-page textarea {
  padding: 8px;
  width: 100% !important;
  height: 100px;
}
#contact-page label {
  color: #787878;
  position: absolute;
  width: 100%;
  padding: 8px;
  z-index: 100;
  top: 1px;
}
#contact-page input[type=submit] {
  width: 220px;
  padding: 10px 15px;
}
#contact-page div.wpcf7-validation-errors {
  display: none !important;
}
#contact-page .wpcf7-not-valid-tip {
  display: none;
}
#contact-page .sent input,
#contact-page .sent label,
#contact-page .sent textarea {
  display: none !important;
}
#contact-page .contact-address {
  margin: 20px 0 30px;
}
#contact-page .address-info,
#contact-page .address-info a {
  font-size: 16px;
  line-height: 1.4;
  color: #333333;
  text-decoration: none;
}
#contact-page .address-info:hover,
#contact-page .address-info a:hover {
  text-decoration: none;
}
#contact-page .contact-title {
  margin: 0 0 25px;
}
#contact-page .contact-title:before,
#contact-page .contact-title:after {
  content: '';
  display: table;
  clear: both;
}
#contact-page h4 {
  color: #796040;
  line-height: 20px;
  margin: 10px 0 0;
}
#contact-page i {
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 11px;
  font-style: italic;
  color: #878787;
  line-height: 1.2;
}
#contact-page .map {
  padding: 10px 0 0;
}
#contact-page h5 {
  color: #796040;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
#contact-page .contact-note {
  text-align: center;
  margin: 40px 0 50px;
}
#contact-page .contact-note-message {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.6;
  color: #796040;
}
.detail-calc {
  max-width: 800px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
#credit {
  width: 50%;
  float: left;
  margin: 0 0 30px;
}
#credit label {
  width: 170px;
  font-family: 'PT Sans', Arial, Sans-serif;
  font-size: 14px;
  color: #796040;
  position: relative;
  top: 11px;
}
#credit select {
  font-size: 14px;
  color: #796040;
}
#credit input {
  margin: 0;
  border: 1px solid #cdcdcd;
}
#credit button {
  width: 217px;
}
#credit .submit {
  margin: 30px 10px 10px 170px;
}
#credit .select label {
  top: auto;
}
#credit .select select {
  width: auto;
  display: inline;
  border: 0;
}
.calc-results {
  float: left;
}
.calc-results strong,
.calc-results span {
  font-weight: 700;
  color: #528d25;
}
.calc-results span {
  font-weight: 700;
  color: #db7616;
}
.submit button {
  background: #ffba00;
}
.submit button:hover {
  background: #ffaa00;
}
#schedule table {
  font-family: 'PT Sans', Arial, Sans-serif;
  width: 100%;
  margin-bottom: 30px;
}
#schedule table th {
  font-weight: 700;
  color: #333333;
  background: #528d25;
  color: #ffffff;
  text-shadow: none;
}
#schedule table tr:hover td {
  color: #333333;
}
.calc {
  background: url(../../assets/img/calc_bg.png) no-repeat;
  margin: 35px 0 0 0;
  padding: 20px 68px 40px 43px;
  width: 541px;
  height: 425px;
}
.tabs {
  display: inline-block;
}
.tabs .tabs-content {
  padding-top: 15px;
}
.tabs ul:after {
  content: "";
  display: block;
  clear: both;
  height: 5px;
}
.tabs ul li {
  padding: 8px 12px 3px;
  margin: 0px;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 59px 0 0;
  border: 2px solid transparent;
  position: relative;
}
.tabs ul li:last-child {
  margin: 0;
}
.tabs ul li span {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
  position: relative;
}
.tabs ul li span:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px dashed #ffffff;
  position: absolute;
  top: 22px;
}
.tabs ul li.active,
.tabs ul li.active:hover {
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 8px 12px 3px;
  line-height: 1;
}
.tabs ul li.active span:after,
.tabs ul li.active:hover span:after {
  display: none;
}
.tooltips {
  display: block;
  position: absolute;
  top: 8px;
  right: -30px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: rgba(60, 94, 27, 0.8);
  color: #ffffff;
  font-size: 20px;
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 25px;
}
.tooltips:hover {
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0px 0px 1px 1px #528d25;
}
.tooltips + .tooltip > .tooltip-inner {
  width: 250px;
  padding: 10px;
}
.range-slider {
  position: relative;
  height: 80px;
}
.extra-controls {
  border-top: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
.extra-controls:before,
.extra-controls:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  border-top: 1px dashed #ffffff;
  position: absolute;
  top: 14px;
}
.extra-controls:before {
  left: 0;
}
.extra-controls:after {
  right: 0;
}
.range-slider-year {
  margin: 10px 0 0;
}
.js-irs-0,
.js-irs-1,
.js-irs-2,
.js-irs-3 {
  margin: -17px 0 0 0;
}
.irs-line-right {
  background-position: 100% 0;
}
.irs-slider {
  width: 30px;
  height: 30px;
  top: 17px;
  background-position: 0 -116px;
}
.irs-slider.state_hover,
.irs-slider:hover {
  background-position: 0 -116px;
}
.irs-line-left {
  width: 3.6%;
}
.irs-line-mid {
  left: 3.6%;
  width: 86.5%;
}
.irs-single {
  display: block;
  right: 0 !important;
  left: auto !important;
  top: -7px;
}
.irs-with-grid .irs-grid {
  display: none;
}
.irs-bar-edge {
  border-radius: 10px;
}
.irs-line {
  border-radius: 5px;
}
.irs-min,
.irs-max {
  color: #3c5e1b;
  background: transparent;
  font-size: 16px;
  top: 42px;
  font-weight: 700;
  visibility: visible !important;
}
.irs-from,
.irs-to,
.irs-single {
  background: transparent;
  font-size: 18px;
}
.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: transparent;
}
.label-home-calc {
  color: #ffffff;
  font-size: 18px;
}
.result-title {
  color: #3c5e1b;
  display: inline-block;
  font-size: 14px;
  line-height: 12px;
  text-align: left;
}
.js-result-mfo,
.js-result-bank {
  display: inline-block;
  color: #ffffff;
  font-size: 33px;
  line-height: 28px;
  font-weight: 700;
}
#get-credit {
  padding-bottom: 30px;
}
#get-credit .popup-button {
  text-align: center;
}
#get-credit .popup-link {
  font-family: 'MyriadPro-SemiboldCond', Arial, Sans-serif;
  font-size: 28px;
  color: #528d25;
  text-decoration: underline;
  text-transform: uppercase;
}
#get-credit .popup-link:hover {
  color: #85c547;
}
.page-table {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  font-family: 'PT Sans', Arial, Sans-serif;
  color: #666666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
}
.page-table tr .tab_hed {
  background: #f2f2f2;
}
.page-table tr .tab_header {
  padding: 15px 0;
}
.page-table tr td {
  padding: 15px 25px 25px 25px;
  border-top: 1px solid #fafafa;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  vertical-align: middle;
}
.page-table tr td:first-child {
  background: #528d25;
  border-bottom: 1px solid #528d25;
  border-left: 1px solid #528d25;
  color: #ffffff;
  text-shadow: none;
  font-weight: bold;
  font-size: 14px;
}
.page-table tr:hover td {
  background: #f9f9f9;
}
.page-table tr:hover td:first-child {
  background: #85c547;
  border-left: 1px solid #85c547;
  border-bottom: 1px solid #85c547;
}
.page-table tr:hover .tab_hed {
  background: #e9e9e9;
}
.page-table tr:hover .tab_header:first-child {
  background: #528d25;
  border-bottom: 1px solid #528d25;
  border-left: 1px solid #528d25;
}
@media only screen and (max-width: 1170px) {
  .number {
    font-size: 18px;
    line-height: 1.4;
  }
  .slogan-first {
    font-size: 28px;
  }
  .slogan-second {
    font-size: 40px;
  }
  .slogan {
    margin: 10px 30px;
  }
  .menu-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .search-block {
    width: 26.5%;
  }
  .search-block input[type=text] {
    width: 100%;
  }
  .menu-bar ul li a {
    padding: 0 9px;
  }
  .menu-bar ul li {
    padding: 0 1%;
  }
  #functional-section {
    background: none;
  }
  #functional-section .col-md-8 {
    width: 60%;
  }
  #functional-section .col-md-4 {
    width: 40%;
  }
  #benefits {
    overflow-y: hidden;
  }
  #benefits .col-md-5,
  #benefits .col-md-7 {
    width: 50%;
  }
  #benefits .benefits-woman {
    top: 10vw;
    right: 10%;
  }
  #benefits .big-link {
    top: 12vw;
    left: 10vw;
  }
  #get-loan li {
    margin: 0 0 5px 25px;
  }
  #package .min-package {
    margin: 35px auto 0;
    width: 65%;
  }
  #package .col-md-3 {
    width: 50%;
    height: 200px;
  }
  .tablet-form {
    left: -37px;
    padding: 15px 51px 40px 88px;
  }
  .сond-text {
    font-size: 14px;
  }
  .count-block {
    bottom: -27px;
    right: -45px;
  }
  #seo-text .col-md-8 {
    width: 60%;
  }
  #seo-text .col-md-4 {
    width: 40%;
  }
  #seo-text .seo-text {
    margin: 0 30px;
  }
  .woman-blog {
    top: 10vw;
  }
  footer .second-style li {
    margin: 0 0 7px 0;
  }
  footer .subfooter {
    margin: 5px 0 0 0px;
  }
}
@media only screen and (max-width: 959px) {
  .block-header .col-md-4 {
    width: 50%;
  }
  .block-header .col-md-4:nth-of-type(2) {
    display: none;
  }
  .menu-bar {
    width: 68.5%;
  }
  .menu-bar ul {
    padding: 0;
  }
  .menu-bar ul li a {
    font-size: 16px;
    line-height: 3.15;
  }
  .search-block {
    width: 30%;
  }
  .search-block label {
    padding: 10px 8px 9px;
  }
  .search-block:after {
    display: none;
  }
  #functional-section .col-md-8,
  #functional-section .col-md-4 {
    width: 100%;
  }
  .calc-title {
    margin: 0 auto;
  }
  .calc {
    margin: 35px auto;
    padding: 20px 43px 13px 43px;
    width: 516px;
    height: 405px;
  }
  #functional-section h4 {
    text-align: center;
  }
  .why-us-item {
    margin: 25px auto 15px;
    width: 510px;
  }
  #process .col-md-1 {
    display: none;
  }
  #process .col-md-2 {
    width: 20%;
  }
  .process-item:after {
    top: 65px;
  }
  .process-item span {
    font-size: 14px;
  }
  #benefits .col-md-5 {
    display: none;
  }
  #benefits .col-md-7 {
    width: 100%;
  }
  .your-benefit h4 {
    text-align: center;
  }
  .your-benefit-item {
    width: 80%;
    margin: 0 auto;
  }
  .your-benefit-item .benefit-description {
    width: 88%;
  }
  #package .min-package {
    width: 100%;
  }
  #useful .col-md-8,
  #useful .col-md-4 {
    width: 100%;
  }
  #useful .col-md-4 {
    margin: 30px 0 0;
    text-align: center;
  }
  #useful .info {
    text-align: left;
    width: 68%;
    margin: 0 auto;
  }
  #special-сonditions {
    padding: 40px 0 70px;
  }
  #special-сonditions .col-md-7,
  #special-сonditions .col-md-4 {
    width: 50%;
  }
  .conditions {
    /*margin: 0;*/
  }
  .conditions h2 {
    font-size: 28px;
  }
  .сond-text {
    font-size: 16px;
  }
  .count-block {
    display: none;
  }
  .tablet-form {
    left: 0;
  }
  #seo-text .col-md-8 {
    width: 100%;
  }
  #seo-text .col-md-4 {
    display: none;
  }
  footer .col-md-1 {
    width: 10%;
  }
  footer .col-md-3 {
    width: 45%;
  }
  footer .col-md-4 {
    width: 45%;
  }
  footer .col-md-4:last-child {
    width: 100%;
  }
  footer .call-block:before,
  footer .call-block:after {
    content: '';
    display: table;
    clear: both;
  }
  footer .info-block,
  footer .call-back {
    width: 45%;
    float: left;
    margin-top: 30px;
  }
  footer .info-block:before,
  footer .call-back:before,
  footer .info-block:after,
  footer .call-back:after {
    content: '';
    display: table;
    clear: both;
  }
  footer .info-block {
    margin-left: 10%;
  }
  footer .subfooter {
    width: 290px;
    margin: 20px auto 0;
  }
  footer .subfooter:before,
  footer .subfooter:after {
    content: '';
    display: table;
    clear: both;
  }
  .testimonial-item:last-child:after {
    display: none;
  }
  .calc-results {
    float: none;
    width: 310px;
    margin: 0 auto;
  }
  #schedule {
    overflow: scroll;
  }
  #credit {
    width: 310px;
    margin: 0 auto;
    float: none;
  }
  #credit label {
    width: 113px;
    font-size: 12px;
  }
  #credit input[type=text],
  #credit input[type=tel],
  #credit input[type=email],
  #credit select {
    width: 190px;
  }
  #credit .submit,
  #credit button {
    margin: 5px auto;
  }
  #table-scroll {
    overflow: scroll;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-view {
    display: block;
  }
  .menu-bar {
    display: none;
  }
  .search-block {
    width: 278px;
    position: absolute;
    margin-left: 10px;
  }
  .search-block:after {
    display: block;
  }
  .process-item {
    margin-top: 20px;
  }
  .process-item span {
    font-size: 12px;
  }
  .process-item:after {
    top: 60px;
    right: -40px;
  }
  .your-benefit-item {
    width: 90%;
  }
  .your-benefit-item .benefit-description {
    width: 85%;
  }
  .conditions {
    margin: 0 0 10px;
  }
  .tablet-form {
    left: -40px;
  }
  footer .col-md-1 {
    display: none;
  }
  footer .col-md-3 {
    width: 52%;
  }
  footer .info-block,
  footer .call-back {
    margin: 20px 0 0;
    width: 50%;
    padding-top: 0;
  }
  .btn.mobile-view.btn-mobile-view {
    display: none;
  }
  .mobile-view-our-blog {
    display: block;
    width: 280px;
    margin: 20px auto 40px;
  }
}
@media only screen and (max-width: 639px) {
  .block-header .col-md-4 {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    float: none;
  }
  .block-header {
    background-position: center 68px;
    padding: 17px 0 0;
  }
  .logo {
    padding: 1px 0 14px;
  }
  header .call-back {
    padding: 5px 0 10px;
    margin: 10px auto 0;
    width: 235px;
  }
  .nav-bar .decorated-line:after {
    display: none;
  }
  .search-block {
    margin-top: 2px;
    width: 240px;
  }
  .search-block:after {
    display: none;
  }
  .search-block label {
    width: 100%;
  }
  .calc-title {
    width: 100%;
    text-align: center;
  }
  .calc-title h1 {
    font-size: 27px;
  }
  .calc-title:before,
  .calc-title:after {
    display: none;
  }
  .h1-subtitle {
    font-size: 10px;
  }
  .calc {
    display: none;
  }
  .why-us-item {
    width: 100%;
  }
  #process .col-md-2 {
    width: 100%;
  }
  .process-item:after {
    display: none;
  }
  h3,
  h3 span {
    font-size: 28px;
  }
  .your-benefit-item .benefit-description {
    width: 73%;
  }
  #package .col-md-3 {
    width: 100%;
  }
  #useful .col-md-6 {
    width: 100%;
  }
  #useful h4 {
    width: 190px;
  }
  #useful .col-md-4 {
    text-align: left;
  }
  #useful .info {
    width: 100%;
  }
  .testimonial-item:after {
    display: none;
  }
  #special-сonditions {
    padding: 40px 0;
  }
  #special-сonditions .col-md-7,
  #special-сonditions .col-md-4 {
    width: 100%;
  }
  .tablet-form {
    display: none;
  }
  #get-loan .col-md-3,
  #get-loan .col-md-2 {
    width: 100%;
  }
  #get-loan ul {
    margin: 0;
  }
  #seo-text .seo-text {
    margin: 0;
  }
  footer {
    padding: 0;
  }
  footer .col-md-3,
  footer .col-md-4 {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 30px;
    float: none;
  }
  footer .col-md-4:last-child {
    padding-top: 10px;
  }
  footer .info-block,
  footer .call-back {
    margin: 0 0 20px;
    width: 100%;
  }
  footer .subfooter {
    margin: 0;
  }
  footer .footer-menu h5 {
    text-align: center;
  }
  .page h1 span:before,
  .page h1 span:after {
    display: none;
  }
  #contact-page .contact-address {
    margin: 0;
  }
  #contact-page .col-md-5,
  #contact-page .col-md-4,
  #contact-page .col-md-3 {
    margin-bottom: 30px;
  }
  #contact-page h5 {
    margin-bottom: 10px;
  }
  #contact-page .contact-note {
    margin: 10px 0;
  }
  h1,
  h1 span {
    font-size: 28px;
  }
  .page p {
    padding: 0 15px;
  }
  .callback-popup,
  .makeRequest {
    width: 300px;
    padding: 30px 25px 20px;
  }
  .callback-popup .callback-subtitle,
  .makeRequest .callback-subtitle {
    font-size: 12px;
  }
  .callback-popup form input[type=text],
  .makeRequest form input[type=text],
  .callback-popup form input[type=tel],
  .makeRequest form input[type=tel],
  .callback-popup form input[type=email],
  .makeRequest form input[type=email],
  .callback-popup form select,
  .makeRequest form select {
    margin-bottom: 5px;
  }
  .callback-popup h3,
  .makeRequest h3 {
    line-height: 21px;
  }
  .btn.mobile-view.btn-mobile-view {
    display: block;
    width: 280px;
    margin: 20px auto 40px;
  }
  .process-item span {
    font-size: 14px;
  }
  .single-post .entry-header .entry-title span:after,
  .page .entry-header .entry-title span:after,
  .category .entry-header .entry-title span:after,
  .single-post .entry-header .entry-title span:before,
  .page .entry-header .entry-title span:before,
  .category .entry-header .entry-title span:before {
    display: none;
  }
  .single-post .entry-header,
  .page .entry-header,
  .category .entry-header {
    padding: 0;
  }
  .single-post .post p,
  .page .post p,
  .category .post p,
  .single-post .type-page p,
  .page .type-page p,
  .category .type-page p,
  .single-post #archive-posts p,
  .page #archive-posts p,
  .category #archive-posts p,
  .single-post .post ul,
  .page .post ul,
  .category .post ul,
  .single-post .type-page ul,
  .page .type-page ul,
  .category .type-page ul,
  .single-post #archive-posts ul,
  .page #archive-posts ul,
  .category #archive-posts ul,
  .single-post .post ol,
  .page .post ol,
  .category .post ol,
  .single-post .type-page ol,
  .page .type-page ol,
  .category .type-page ol,
  .single-post #archive-posts ol,
  .page #archive-posts ol,
  .category #archive-posts ol {
    padding: 0 15px;
  }
  .error404 .row,
  .search-no-results .row,
  .page-template-site-search .row {
    margin: auto;
  }
  .search-page-form p {
    display: block;
    text-align: center;
  }
  .search-page-form form {
    display: block;
  }
  .search-page-form input[type=text] {
    display: block;
    margin: 0 auto;
    width: 280px;
    padding: 11px 11px 14px;
  }
  .search-page-form input[type=submit] {
    display: block;
    padding: auto;
    margin: 20px auto;
  }
  .icon-hand span:after,
  .icon-badge span:after,
  .icon-man span:after,
  .icon-folders span:after {
    display: none;
  }
  #useful h4 {
    width: auto;
  }
}
.ie-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.85;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.ie-notification {
  display: none;
  position: fixed;
  background: #ffffff;
  z-index: 100001;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -230px;
  width: 620px;
  text-align: center;
  padding: 40px;
  border-radius: 3px;
}
.ie-notification .btn {
  display: block;
  width: 180px;
  padding: 15px 20px;
  font-size: 16px;
  margin: 20px auto;
}
.ie-notification small a {
  color: #3c5e1b;
}
